<% if blob.representable? %>
  <figure class="attachment attachment--<%= blob.representable? ? "preview" : "file" %> attachment--<%= blob.filename.extension %>">
    <%= image_tag polymorphic_url(blob.representation(resize_to_limit: local_assigns[:in_gallery] ? [ 800, 600 ] : [ 1024, 768 ]), script_name: nil) %>
    <figcaption class="attachment__caption">
      <% if caption = blob.try(:caption) %>
        <%= caption %>
      <% end %>
    </figcaption>
  </figure>
<% else %>
  <div class="w-100">
    <%= blob.open(tmpdir: "tmp/") do |file| %>
      <%= sanitize file.read, tags: %w( iframe ), attributes: %w(src source width height srcdoc) %>
    <% end %>
  </div>
<% end %>
