<!-- inicio sección color -->
  <section class="container-fluid fondo-amarillo pb-3">

    <div class="container">
      <div class="row">
        <div class="col-12">

          <nav aria-label="breadcrumb">
            <ol class="breadcrumbs">
              <li class="breadcrumb-item"><a class="color-texto" href="<%= root_path %>">Inicio</a></li>
              <li class="breadcrumb-item"><a class="color-texto" href=""><%= Section.find(1).name %></a></li>
              <li class="breadcrumb-item" aria-current="page">Preguntas Frecuentes</li>
            </ol>
          </nav>

          <h1 class="titulo mt-5 mb-4">Preguntas Frecuentes</h1>
        </div>

        <div class="col-md-12 pt-5">
          <ul class="text-left">
		<%= social_share_button_tag(Setting.get('shared_message'), :url => url_for(:controller => 'faqs', :action => 'index', :only_path => false)) %>
          </ul>
        </div>

      </div>
    </div>
  </section>
  <!-- fin sección color -->

  <!-- inicio sección Q&A -->
  <section class="container-fluid py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="pb-3 bloque">
      		  <% FaqCategory.all.order(:order).each_with_index do |cat, index| %>
                  <a class="btn-qa w-100" id="prueba<%= index %>" role="button" data-toggle="collapse" data-parent="#accordion"
                    href="#collapseSection<%= index %>" aria-expanded="<%= index == 0 ? 'true':'false' %>" aria-controls="collapseSection<%= index %>"><%= cat.name %></a>
      		  <% end %>
          </div>
        </div>
        <div id="accordion" class="col-md-8">
      		  <% FaqCategory.all.order(:order).each_with_index do |cat, index| %>
              <% Faq.where(faq_category: cat).each_with_index do |faq, index_2| %>
                <div id="collapseSection<%= index %>" class="collapse <%= index == 0 ? 'show':'' %>" data-parent="#accordion">
                  <div class="panel-body">
                      <div class="">
                        <div id="chevron_1" class="chevron chevron-1 chevron-start-down w-100" data-toggle="collapse" data-target="#collapse<%= index.to_s + index_2.to_s %>" aria-expanded="false" aria-controls="collapse<%= index.to_s + index_2.to_s %>">
                        <div class="card-pregunta" id="heading<%= index %>">
                          <h2 class="mb-0 collapse-chevron-wrap">
                            <button class="btn btn-pregunta collapsed" type="button">
                              <%= faq.question %>
                            </button>
                          </h2>
                        </div>
                        <div id="collapse<%= index.to_s + index_2.to_s %>" class="collapse">
                          <div class="card-respuesta">
                            <p><%= simple_format faq.answer, class: 'respuesta_p'%>
                            </p>
                          </div>
                        </div>
                      </div>
                      </div>
                      <br>
                  </div>
                </div>
              <% end %>
      		  <% end %>
          </div>
        </div>
        <!-- fin section derecha -->
      </section>
      <!-- Fin sección Q&A -->
