 <!-- inicio sección Q&A -->
  <section class="container-fluid fondo-amarillo py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
	  	  <%= image_tag "icono_qa-2.svg", class: 'icono-qa' %>
          <h1 class="titulo-qa">Preguntas y respuestas</h1>
        </div>
        <div class="col-md-8">

          <!-- preguntas colapsables -->
          <div class="accordion" id="accordionExample">
    
	<% Faq.all.limit(4).each_with_index do |faq, index| %>

            <div class="">
              <div class="card-pregunta" id="heading<%= index %>">
                <h2 class="mb-0 collapse-chevron-wrap">
                  <button class="btn btn-pregunta collapsed" type="button">
          <%= faq.question %> 
                  </button>
                  <div id="chevron_1" class="chevron chevron-1 chevron-start-down" data-toggle="collapse" data-target="#collapse<%= index %>" aria-expanded="false"
                  aria-controls="collapse<%= index %>">
                    <span></span>
                    <span></span>
                  </div>
                  <!-- <img src="/img/Iconos/chevron-down.svg" class="icono-down" alt=""> -->
                </h2>
              </div>

              <div id="collapse<%= index %>" class="collapse<%= ' show' if index == 0%>">

                <div class="card-respuesta">
                  <p>
				  <%= faq.answer %>
                  </p>
                </div>
              </div>
            </div>
            <br>
           <% end %> 
          <!-- fin preguntas -->
          <div class="d-flex justify-content-center">
            <div class="btn-contexto-container">
	  	  	  <%= image_tag "flecha-gesto.svg", class: 'flecha-gesto' %>
              <button class="btn-contexto">Ver más ...</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- Fin sección Q&A -->
