# SQLite. Versions 3.8.0 and up are supported.
#   gem install sqlite3
#
#   Ensure the SQLite 3 gem is defined in your Gemfile
#   gem 'sqlite3'
#
default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see Rails configuration guide
  # https://guides.rubyonrails.org/configuring.html#database-pooling
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  host: localhost

development:
  <<: *default
  database: {{ postgresql_rails_database }}
  username: {{ postgresql_rails_user }}
  password: {{ postgresql_rails_password }}

test:
  <<: *default
  database: {{ postgresql_rails_database }}_test
  username: {{ postgresql_rails_user }}
  password: {{ postgresql_rails_password }}

production:
  <<: *default
  database: {{ postgresql_rails_database }}
  username: {{ postgresql_rails_user }}
  password: {{ postgresql_rails_password }}
