upstream webhookd {
server 127.0.0.1:{{ webhook_server_port }};
}
server {
server_name {{ webhook_server_subdomain }}.{{ webhook_server_domain }};
client_max_body_size 32M;
access_log /var/log/nginx/webhookd-access.log;
error_log /var/log/nginx/webhookd-error.log error;
location / {
try_files $uri @proxy;
}
location @proxy {
proxy_pass http://webhookd;
}
}
