<!-- Inicio footer -->
  <section id="footer">
    <div class="container">
      <div class="row text-center text-xs-center text-sm-left text-md-left">

        <div class="col-md-4">

	<%= link_to root_path, class: 'navbar-brand' do |link| %>
	  <%= image_tag "Logo-blanco.svg", class: 'logo' %>
	<% end %>
          <br>
          <p class="texto-blanco mt-5"><%= Setting.get('home_footer') %></p>
        </div>

        <div class="col-md-4">
          <h5 class="mt-2">Participan:</h5>
          <ul class="list-unstyled quick-links">
            <% Organization.where(tipo: :participante).each_with_index do |organization, index| %>
              <li><a href="<%= organization.url %>"><%= organization.name %></a></li>
            <% end %>
          </ul>
        </div>

        <div class="col-md-4">
          <h5>Mapa del sitio:</h5>
          <ul class="list-unstyled quick-links">
            <li>
              <%= link_to "Quiénes somos", home_who_path %>
            </li>
            <% Section.all.each_with_index do |section, index| %>
            <li><%= link_to section.name, category_path(section.id) %></li>
            <% end %>
            <li><a href="<%= home_factual_path %>">Contexto<b>F</b>actual</a>
              <br>
              Dirección: Santa Lucía 188, piso 7, Santiago, Chile
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
          <p class="texto-blanco"> Plataforma Contexto 2020 </p>
        </div>
      </div>
    </div>
  </section>
  <!-- ./Footer -->
