  <!-- inicio NUEVO navbar -->
  <nav class="navbar navbar-expand-lg navbar-light navbar-contexto fixed-top">
    <%= link_to root_path, class: 'navbar-brand' do |link| %>
      <%= image_tag "logo.svg", class: 'logo' %>
    <% end %>
    <!-- menu hamburguesa -->
    <button class="navbar-toggler navbar-toggleable-md" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <a  class="menu-hamb collapse-hamb"><span></span></a>
      <!-- <span class="navbar-toggler-icon"></span> -->
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to home_who_path, class: 'nav-link' do |link| %>
            Quiénes somos
          <% end %>
        </li>
        <% Section.all.each_with_index do |section, indexSection| %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="..." id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <%= section.name %> </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% section.recurso_categories.all.each_with_index do |category, index| %>
                <%= link_to category_path(category), class: 'dropdown-item' do |link| %>
      				      <%= category.name %>
      			    <% end %>
              <% end %>
              <% if section.name == "Infórmate" %>
                <%= link_to faqs_path, class: 'dropdown-item' do |link| %>
                    Preguntas Frecuentes
                <% end %>
              <% end %>
            </div>
          </li>

        <% end %>

      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          ContextoFactual </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to home_factual_path, class: 'dropdown-item' do |link| %>
               Portada
            <% end %>
            <% PostCategory.all.each_with_index do |category, index| %>
              <%= link_to post_category_path(category), class: 'dropdown-item' do |link| %>
                  <%= category.name %>
              <% end %>
            <% end %>
            <%= link_to home_metodo_path, class: 'dropdown-item' do |link| %>
               Metodología
            <% end %>
            <%= link_to home_consejo_path, class: 'dropdown-item' do |link| %>
               Consejo Editorial
            <% end %>
          </div>
        </li>
      <% if Setting.get('show_lupa_menu').downcase=="true" %>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Lupa Electoral </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to lupa_index_path, class: 'dropdown-item', data: { turbolinks: false } do |link| %>
               Inicio
            <% end %>
            <% if Setting.get('show_denuncias_link').downcase=="true" %>
              <%= link_to denuncias_path, class: 'dropdown-item' do |link| %>
                Denuncias
              <% end %> 
            <% end %> 
            <%= link_to descargas_path, class: 'dropdown-item' do |link| %>
               Descargar los datos
            <% end %>
          </div>
        </li>
        <% end %>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Contexto factual</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% PostCategory.all.each_with_index do |category, index| %>
              <%= link_to post_category_path(category), class: 'dropdown-item' do |link| %>
                  <%= category.name %>
              <% end %>
            <% end %>
            <%= link_to home_consejo_path, class: 'dropdown-item' do |link| %>
                Consejo Editorial
            <% end %>
            <%= link_to home_metodo_path, class: 'dropdown-item' do |link| %>
                Metodología
            <% end %>
          </div>
        </li> -->
      </ul>

<%= render template: 'home/_search_form' %>
    </div>
  </nav>
  <!-- fin NUEVO navbar -->
