  <% Section.all.each_with_index do |section, index| %>
  <section class="container-fluid fondo-<%= index == 0 ? 'azul' : 'amarillo' %> pb-5">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="d-flex card-hover collapsed btn-bev" type="button" data-toggle="collapse" data-target="#collapse<%= section.name %>" aria-expanded="false" aria-controls="collapse<%= section.name %>">
              <h1 class="homeTitle"><%= section.name %> </h1>
              <%= image_tag url_for(section.icon), class: 'iconTitle' if section.icon.attached? %>
            </div>
            <div class="row collapse" id="collapse<%= section.name %>" style="">
              <hr class="linea1">
              <div class="col-md-12">
                <ul>
                  <% section.recurso_categories.order(:order).each_with_index do |category, index| %>
                    <li class="SectionContent">
                      <%=link_to category.name, category_path(category), class: 'a-home' %>
                    </li>
                  <% end %>
                  <% if section.id == 1 %>
                  <li class="SectionContent">
                    <%=link_to "Preguntas frecuentes", faqs_path, class: 'a-home' %>
                  </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <% end %>
    <section class="container-fluid fondo-negro pb-5">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="d-flex card-hover collapsed btn-bev" type="button" data-toggle="collapse" data-target="#collapseFactual" aria-expanded="false" aria-controls="collapseFactual">
              <h1 class="homeTitle2">Contexto</h1>
              <h1 class="homeTitle3">Factual</h1>
              <%= image_tag "factual.svg", class: 'iconTitle' %>
            </div>
            <div class="row collapse" id="collapseFactual" style="">
              <hr class="linea2">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <ul>
                  <% PostCategory.all.each do |pc| %>
                    <li class="SectionContent2">
                      <a class="a-home2" href="<%= post_category_path pc %>">
                        <%= pc.name %>
                      </a>
                    </li>
                  <% end %>
                  <li class="SectionContent2">
                    <a class="a-home2" href="<%= home_metodo_path %>">
                      Metodología
                    </a>
                  </li>
                  <li class="SectionContent2">
                    <a class="a-home2" href="<%= home_consejo_path %>">
                      Consejo Editorial
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-md-12">
                <div class="d-flex justify-content-center">
                  <div class="btn-contexto-container">
                    <%= image_tag "flecha-blanca.svg", class: 'flecha-gesto' %>
                    <a href="<%= home_factual_path%>" class="btn-contexto2">Ver más ...</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="container-fluid fondo-rojo">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="d-flex card-hover mb-3 collapsed" type="button" data-toggle="collapse" data-target="#collapseAgenda" aria-expanded="false" aria-controls="collapseAgenda">
            <h1 class="titulo"><%= Setting.get('agenda_title') %></h1>
            <%= image_tag "calendario.svg", class: 'iconTitle2' %>
          </div>
          <p class="resumen"><%= Setting.get('agenda_desc') %></p></div>

          <% Event.where('fecha >= ?', Date.today).order(fecha: :asc).first(3).each do |e| %>
            <div class="col-md-4 ">
              <%= link_to event_path(e) do |l| %>
              <div class="card-img card-hover">
                <div class="fecha">
                  <p class="fecha-dia"><%= e.fecha.day %></p>
                  <p class="fecha-mes"><%= num_to_month(e.fecha.month) %></p>
                  <% unless e.hora.blank? %>
                    <p class="fecha-hora"><%= e.hora.hour.to_s + ":" + e.hora.min.to_s.rjust(2, '0') + "h"  %> </p>
                  <% end %>
                </div>
                <% if e.picture.attached? %>
                  <%= image_tag url_for(e.picture), class: 'card-img-top' %>
                <% else %>
                  <%= image_tag "prueba-card.png", class: 'card-img-top' %>
                <% end %>
                <div class="card-body">
                  <h5 class="titulo-card"><%= e.name %></h5>
                  <div class="d-flex justify-content-end card-btn-container">
                      <p class="mb-0 mr-2">Ver actividad</p>
                      <%= image_tag "flecha volumen derecha.svg", class: 'flecha-in' %>

                  </div>
                </div>
              </div>
              <% end %>

            </div>
          <% end %>

      </div>
    </div>
  </section>
