 <section class="container-fluid fondo-inicial">
   <div class="row">
     <div class="col-12">
       <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
         <ol class="carousel-indicators">
           <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
           <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
           <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
         </ol>
         <div class="carousel-inner">
           <div class="carousel-item active" width="100%" height="100vh">
             <div class="container">
               <div class="row">
                 <div class="col-12">
                   <%= image_tag "doc-azul.svg", class: 'iconTitle3 mb-3'  %>
                   <p class="pre-frase"><%= Setting.get 'slide_1_title' %></p>
                   <p class="frase"> <%= Setting.get 'slide_1_header' %></p>
                   <p class="bajada-noticia"><%= Setting.get 'slide_1_content' %></p>

                     <%=link_to Setting.get 'slide_1_link' do |l| %>
                     <span class="fecha1 a-report"> Leer más...</span>
                     <% end %>

                   <br>
                   <div class="d-flex justify-content-end mt-3">
                     <p class="sub-frase">Para una ciudadanía constituyente</p>
                     <%= image_tag "check.svg", class: 'iconTitle4 ml-2'  %>
                   </div>
                 </div>
               </div>
             </div>
           </div>
           <div class="carousel-item" width="100%" height="100vh">
             <div class="container">
               <div class="row">
                 <div class="col-12">
                   <%= image_tag "doc-rojo.svg", class: 'iconTitle3 mb-3'  %>
                   <p class="pre-frase"><%= Setting.get 'slide_2_title' %></p>
                   <p class="frase"> <%= Setting.get 'slide_2_header' %></p>
                   <p class="bajada-noticia"><%= Setting.get 'slide_2_content' %></p>

                     <%=link_to Setting.get 'slide_2_link' do |l| %>
                     <span class="fecha1 a-report"> Leer más...</span>
                     <% end %>

                   <br>
                   <div class="d-flex justify-content-end mt-3">
                     <p class="sub-frase">Para una ciudadanía constituyente</p>
                     <%= image_tag "check.svg", class: 'iconTitle4 ml-2'  %>
                   </div>
                 </div>
               </div>
             </div>
           </div>
           <div class="carousel-item" width="100%" height="100vh">
             <div class="container">
               <div class="row">
                 <div class="col-12">
                   <%= image_tag "doc-amarillo.svg", class: 'iconTitle3 mb-3'  %>
                   <p class="pre-frase"><%= Setting.get 'slide_3_title' %></p>
                   <p class="frase"><%= Setting.get 'slide_3_header' %></p>
                   <p class="bajada-noticia"><%= Setting.get 'slide_3_content' %></p>
                   <%=link_to Setting.get 'slide_3_link' do |l| %>
                   <span class="fecha1 a-report"> Leer más...</span>
                   <% end %>

                   <div class="d-flex justify-content-end mt-3">
                     <p class="sub-frase">Para una ciudadanía constituyente</p>
                     <%= image_tag "check.svg", class: 'iconTitle4 ml-2'  %>
                   </div>
                 </div>
               </div>
             </div>
           </div>
       </div>
     </div>
   </div>
   </div>
 </section>
