<%= form_tag(home_search_path, :class => '', method: :get) do %>
   <div class="buscar d-none d-md-block">
      <%= text_field_tag :search, params[:search], placeholder:'Buscar', :class => 'buscar_texto', 'aria-label': '.search_for'%>
         <a class="boton" type="submit">
	          <%= image_tag "lupa.svg", class: 'lupa', size: "40x40", alt: "Buscar" %>
         </a>
   </div>
<% end %>

<%= form_tag(home_search_path, :class => 'form-inline my-2 my-lg-0 d-md-none', method: :get) do %>
        <div class="buscar-mobile">
          <%= text_field_tag :search, params[:search], placeholder:'Buscar', :class => 'form-control-sm', 'aria-label': '.search_for'%>
          <a class="Icono " type="submit">
	           <%= image_tag "lupa.svg", class: 'lupa', size: "40x40", alt: "Buscar" %>
          </a>
        </div>
<% end %>
