<section class="container-fluid fondo-crema">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumbs">
                        <li class="breadcrumb-item"><a class="color-texto" href="<%= root_path %>">Inicio</a></li>
                        <li class="breadcrumb-item"><a class="color-texto" href="<%= home_factual_path %>">ContextoFactual</a></li>
                        <li class="breadcrumb-item" aria-current="page">Consejo Editorial</li>
                    </ol>
                </nav>
                <h1 class="titulo mt-5 mb-4">Consejo Editorial</h1>
            </div>

            <div class="col-md-12 pt-5">
                <ul class="text-left">
                    <%= social_share_button_tag(Setting.get('shared_message'), :url => url_for(:controller => 'home', :action => 'consejo', :only_path => false)) %>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="sub-titulo"><%= Setting.get('consejo_subtitle') %></h2>
            <div class="row">
              <% CouncilMember.all.each_with_index do |cm| %>
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="card-img card-hover">
                        <% if cm.picture.attached? %>
                          <%= image_tag url_for(cm.picture), class: "card-img-top" %>
                        <% else %>
                          <%= image_tag "podcast.png", class: "card-img-top" %>
                        <% end %>
                        <div class="card-body">
                            <h5 class="titulo-card"><%= cm.name %> </h5>
                            <h5 class="card-text"><%= cm.especialidad %></h5>
                            <p class="text-card"><%= cm.descripcion %></p>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</section>
