<!-- inicio sección color -->
 <section class="container-fluid fondo-rojo pb-3">
     <div class="container">
         <div class="row">
             <div class="col-12">
                 <nav aria-label="breadcrumb">
                     <ol class="breadcrumbs">
                         <li class="breadcrumb-item"><a class="color-texto" href="<%= root_path %>">Inicio</a></li>
                         <li class="breadcrumb-item"><a class="color-texto">Agenda</a></li>

                         <li class="breadcrumb-item" aria-current="page"><%= @event.name %></li>
                     </ol>
                 </nav>
                 <div class="row">
                     <div class="col-lg-4 col-md-4 col-sm-12">
                       <div class="marco">
                         <% if @event.picture.blank? %>
                          <%= image_tag "prueba-card.png", class: "w-100 mt-5" %>
                         <% else %>
                          <%= image_tag @event.picture, class: "w-100 mt-5" %>
                         <% end %>
                       </div>
                     </div>
                     <div class="col-lg-8 col-md-8 col-sm-12">
                         <h1 class="titulo text-left pt-5"><%= @event.name %></h1>
                         <p class="resumen pt-5">
                         </p>

                     </div>
                 </div>
             </div>
             <div class="col-md-12 pt-5">
                 <ul class="text-center">
                   <%= social_share_button_tag(Setting.get('shared_message'), :url => url_for(:controller => 'posts', :action => 'show', :id => @event.id, :only_path => false)) %>
                 </ul>
             </div>
         </div>
     </div>
 </section>
 <!-- fin sección color -->
 <!-- inicio sección cards -->
    <section class="container">
        <div class="row">
          <div class="col-md-4 fondo-crema p-5">
            <h5 class="titulo-card">¿Cuándo?</h5>
            <p class="card-text"><%= (@event.fecha.day.to_s + " " + num_to_month(@event.fecha.month) + " " + @event.fecha.year.to_s  ) %><%= (", " + @event.hora.hour.to_s + ":" + @event.hora.min.to_s.rjust(2, '0') + "h") unless @event.hora.blank? %></p>
            <% unless @event.lugar.blank? %>
              <h5 class="titulo-card">¿Dónde?</h5>
              <p class="card-text"><%= ( @event.lugar)  %></p>
            <% end %>
            <% unless @event.lugar.blank? %>
              <h5 class="titulo-card">Valor</h5>
              <p class="card-text"><%= (@event.valor.to_s) unless @event.valor.blank? %></p>
            <% end %>
            <% unless @event.lugar.blank? %>
              <h5 class="titulo-card">Link</h5>
              <p class="card-text">
                <%= link_to @event.url do |l| %>
                  <%= (@event.url.to_s) unless @event.url.blank? %></p>
                  <% end %>
            <% end %>
          </div>

        </div>
    </section>
