<section class="container-fluid fondo-negro pb-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumbs">
                    <li class="breadcrumb-itemFact"><a class="color-texto-factual" href="<%= root_path %>">Inicio</a></li>
                    <li class="breadcrumb-itemFact" aria-current="page">Contexto Factual</li>
                  </ol>
                </nav>
                <h1 class="titulo-factual mt-5 mb-4">Contexto Factual</h1>
            </div>
            <div class="col-md-12 mt-2">
                <ul class="text-left">
                  <%= social_share_button_tag(Setting.get('shared_message'), :url => url_for(:controller => 'home', :action => 'factual', :only_path => false)) %>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid fondo-negro pb-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
               <!-- un = PostCategory.find_by(name: "Notas").posts.published(Date.today).where(destacado: true).last  -->
              <% un = Post.nota_destacada %>
              <%= link_to post_category_path(PostCategory.where(name: "Notas").first) do |l| %>
                <h2>Lo último</h2>
              <% end %>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
              <a href="<%= post_path un %>">
                <% if un.image.attached? %>
                        <%= image_tag un.image, class: "factNews mx-auto ml-auto" %>
                <% else %>
                        <%= image_tag "plebiscito.png", class: "factNews mx-auto ml-auto" %>
                <% end %>
              </a>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p class="resumenFact text-left mt-3"> <%= un.fecha %></p>
            </div>
            <div class="col-6">
                <p class="resumenFact text-right mt-3"> Por <%= un.author %></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2 class=""><%= un.title %></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr class="factLine">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <p class="resumenFact two-cols"> <%= un.resume %></p>
            </div>
        </div>
    </div>

</section>

<section class="container-fluid fondo-negro">
    <div class="container">
        <div class="row">
            <div class="col-12">
              <%= link_to post_category_path(PostCategory.where(name: "FactChecking").first) do |l| %>
                <h2>FactChecking</h2>
              <% end %>
                <div class="row">
                  <% PostCategory.find_by(name: "FactChecking").posts.published(Date.today).where("qualification_id IS NOT NULL").order(id: :desc).limit(6).each do |p| %>
                    <div class="col-lg-4 col-md-4 col-sm-12 card-hover mb-4">
                        <a href="<%= post_path p %>">
                            <div class="factCard-body h-100">
                                <div class="factCard-body mx-4 my-2 <%= p.qualification.name %>-color mb-5">
                                    <p class="factCard-text mx-4 my-4 ">
                                      <%= p.title %>
                                    </p>
                                    <p class="factCard-text fecha-fch"><%= fecha_text(p.fecha) %></p>
                                    <% unless p.qualification.blank? %>
                                    <span class="<%= p.qualification.name %>"><%= p.qualification.label %></span>
                                    <% end %>
                                </div>
                            </div>
                        </a>
                    </div>
                  <% end %>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid fondo-negro pb-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
              <div class="row">
              <%= link_to post_category_path(PostCategory.where(name: "Reportajes").first) do |l| %>
                <h2>Reportajes</h2>
              <% end %>
                <% PostCategory.where(name: "Reportajes").first.posts.published(Date.today).first(2).each do |r| %>
                <div class="col-12">
                  <a href="<%= post_path r%>">
                      <div class="factCard-body card-hover my-4 factual-home-report">
                        <% if r.image.attached? %>
                                <%= image_tag r.image, class: "factCard-img" %>
                        <% else %>
                                <%= image_tag "vote.png", class: "factCard-img" %>
                        <% end %>
                          <h5 class="factCard-title mb-4 mx-4"><%= r.title %></h5>
                      </div>
                  </a>
                </div>
                <% end %>
              </div>
            </div>
            <div class=" col-lg-4 col-md-4 col-sm-12">
              <%= link_to post_category_path(PostCategory.where(name: "Notas").first) do |l| %>
                <h2>Notas</h2>
              <% end %>
                <% PostCategory.where(name: "Notas").first.posts.published(Date.today).first(3).each do |p| %>
                <hr class="factLine">
                <a href="<%= post_path p%>">
                    <h3 class="titulo-nota">
                      <%= p.title %>
                    </h3>
                    <p class="factCard-text">
                      <%= p.resume %>
                    </p>
                </a>
                <% end %>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid fondo-negro pb-3">
    <div class="container">
        <div class="row">
            <div class=" col-lg-6 col-md-6 col-sm-12">
                <a href="<%= home_consejo_path %>">
                    <h2>Consejo editorial</h2>
                    <%= image_tag "consejo.png", class: "factCard-img" %>
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <a href="<%= home_metodo_path %>">
                    <h2>Metodología</h2>
                    <%= image_tag "Metodo.png", class: "factCard-img" %>
                </a>
            </div>
        </div>
    </div>
</section>
