<section class="container-fluid fondo-negro pb-3">

  <div class="container">
    <div class="row">
      <div class="col-12">

        <nav aria-label="breadcrumb">
          <ol class="breadcrumbs">
            <li class="breadcrumb-itemFact"><a class="color-texto-factual" href="<%= root_path %>">Inicio</a></li>
            <li class="breadcrumb-itemFact"><a class="color-texto-factual" href="<%= home_factual_path %>">ContextoFactual</a></li>
            <!-- <li class="breadcrumb-itemFact"><a class="color-texto" href=""></a></li> -->
            <li class="breadcrumb-itemFact" aria-current="page">Metodología</li>
          </ol>
        </nav>

        <h1 class="titulo-factual mt-5 mb-4">Metodología</h1>
        <p class="resumenFact"></p>
      </div>

      <div class="col-md-12 pt-5">
        <ul class="text-left">
            <%= social_share_button_tag(Setting.get('shared_message'), :url => url_for(:controller => 'home', :action => 'metodo', :only_path => false)) %>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid pb-3">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4 metodo_p">
                <h3><%= Setting.where(key: "title_1").first.value %></h3>
                <p class="factCardWhite-text mt-3 mb-2">
                  <%= simple_format(Setting.where(key: "content_1").first.value) %>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-4 metodo_p">
                <h3><%= Setting.where(key: "title_2").first.value %></h3>
                <p class="factCardWhite-text mt-3 mb-2">
                  <%= simple_format(Setting.where(key: "content_2").first.value) %>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-4 metodo_p">
                <h3><%= Setting.where(key: "title_3").first.value %></h3>
                <p class="factCardWhite-text mt-3 mb-2">
                  <%= simple_format(Setting.where(key: "content_3").first.value) %>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-4 metodo_p">
                <h3><%= Setting.where(key: "title_4").first.value %></h3>
                <p class="factCardWhite-text mt-3 mb-2">
                  <%= simple_format(Setting.where(key: "content_4").first.value) %>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-4 metodo_p">
                <h3><%= Setting.where(key: "title_5").first.value %></h3>
                <p class="factCardWhite-text mt-3 mb-2">
                  <%= simple_format(Setting.where(key: "content_5").first.value) %>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-4 metodo_p">
                <h3><%= Setting.where(key: "title_6").first.value %></h3>
                <p class="factCardWhite-text mt-3 mb-2">
                  <%= simple_format(Setting.where(key: "content_6").first.value) %>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-4 metodo_p">
                <h3><%= Setting.where(key: "title_7").first.value %></h3>
                <p class="factCardWhite-text mt-3 mb-2">
                  <%= simple_format(Setting.where(key: "content_7").first.value) %>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-4 metodo_p">
                <h3><%= Setting.where(key: "title_8").first.value %></h3>
                <p class="factCardWhite-text mt-3 mb-2">
                  <%= simple_format(Setting.where(key: "content_8").first.value) %>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-4 metodo_p">
                <h3><%= Setting.where(key: "title_9").first.value %></h3>
                <p class="factCardWhite-text mt-3 mb-2">
                  <%= simple_format(Setting.where(key: "content_9").first.value) %>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-4 metodo_p">
                <h3><%= Setting.where(key: "title_10").first.value %></h3>
                <p class="factCardWhite-text mt-3 mb-2">
                  <%= simple_format(Setting.where(key: "content_10").first.value) %>
                </p>
            </div>
        </div>
    </div>
</section>
