  <!-- inicio sección color -->
    <section class="container-fluid pb-3">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumbs">
                <li class="breadcrumb-item"><a class="color-texto" href="<%= root_path %>">Inicio</a></li>
                <li class="breadcrumb-item" aria-current="page">Resultado búsqueda</li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mt-5">
            <h2 class="sub-titulo">Resultado búsqueda</h2>
            <p><%= @recursos.count + @posts.count %> resultados para la busqueda de "<%= params[:search] %>"</p>
          </div>

        </div>
      </div>
    </section>
    <!-- fin sección color -->

    <section class="container">
        <% @posts.each do |r| %>
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3 fondo-crema my-3">
              <% if r.image.attached? %>
                      <%= image_tag r.image, class: "factCard-img" %>
              <% else %>
                      <%= image_tag "vote.png", class: "factCard-img" %>
              <% end %>
            </div>
          <div class="col-sm-12 col-md-9 col-lg-9 fondo-crema my-3">
            <a href="<%= post_path r%>">
              <h3 class="pt-3"><%= r.title %></h3>
              <p class="card-text pb-3 "><%= r.resume %></p>
            </a>
          </div>
      </div>
      <% end %>
        <% @recursos.each do |r| %>
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3 fondo-crema my-3">
              <% if r.picture.attached? %>
                      <%= image_tag r.picture, class: "factCard-img" %>
              <% else %>
                      <%= image_tag "vote.png", class: "factCard-img" %>
              <% end %>
            </div>
          <div class="col-sm-12 col-md-9 col-lg-9 fondo-crema my-3">
            <a href="<%= recurso_path r%>">
              <h3 class="pt-3"><%= r.name %></h3>
              <p class="card-text pb-3 "><%= r.resume %></p>
            </a>
          </div>
      </div>
      <% end %>
    </section>
