<!-- inicio sección color -->
    <section class="container-fluid fondo-crema">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumbs">
                            <li class="breadcrumb-item">
                              <%= link_to "Inicio", root_path, class: 'color-texto' %>
                            </li>
                            <li class="breadcrumb-item" aria-current="page">Quienes somos</li>
                        </ol>
                    </nav>

                    <h1 class="titulo mt-5 mb-4">Quienes somos</h1>
                </div>

                <div class="col-md-12 pt-5">
                    <ul class="text-left">
                    <%= social_share_button_tag(Setting.get('shared_message'), :url => url_for(:controller => 'home', :action => 'who', :only_path => false)) %>
                </div>
            </div>
        </div>
    </section>
    <!-- fin sección color -->
    <section class="container-fluid fondo-amarillo">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h2 class="subTitle"><%= Setting.get('purpose_1_title') %></h2>
                    <p class="weResum mt-5"><%= simple_format Setting.get('purpose_1_content') %></p>
                </div>
                <div class="col-6 d-flex justify-content-center">
                    <%= image_tag 'mano-palabra.svg', class: "py-2 px-5 bigIcone"%>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fuid fondo-rojo">
        <div class="container">
            <div class="row">
                <div class="col-6 d-flex justify-content-center">
                    <%= image_tag 'happy-face.svg', class: "py-2 px-5 bigIcone" %>
                </div>
                <div class="col-6">
                    <h2 class="subTitle"><%= Setting.get('purpose_2_title') %></h2>

                    <p class="weResum-w my-5"><%= simple_format Setting.get('purpose_2_content') %></p>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fuid fondo-negro">
        <div class="container">
            <div class="row">
                <div class="col-6 negrote">
                    <h2 class="weSubTitle"><%= Setting.get('contexto_title') %></h2>

                    <p class="weResum-w my-5"><%= simple_format Setting.get('contexto_content') %></p>
                </div>
                <div class="col-6 d-flex justify-content-center">
                    <%= image_tag 'isotipo4.svg', class: "py-5 px-5 bigIcone" %>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fuid fondo-azul">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="subTitle3"> <%= Setting.get('manifiesto_title') %> </h2>

                    <p class="weResum3 my-5"><%= simple_format Setting.get('manifiesto_content') %></p>
                </div>
            </div>
        </div>
    </section>
  <section class="container container-fuid ">
      <div class="row">
        <div class="col-12">
          <h1 class="sub-titulo">
            <%= Setting.get('organizaciones_text') %>
          </h1>
        </div>
      </div>
    </section>

    <section class="container container-fuid">
      <div class="row participantes">
      <% Organization.where(tipo: :participante).each_with_index do |organization, index| %>
            <div class="col-md-3">
                <%= link_to organization.url do |l| %>
                  <%= image_tag organization.picture, class: "img-fluid"  if organization.picture.attached? %>
                <% end %>
            </div>
      <% end %>
    </div>
    <br>
      <% Organization.where(tipo: :directivo).each_with_index do |organization, index| %>
        <div class="row">
            <div class="col-8">
              <h1 class="sub-titulo">
                <br>
                <%= organization.name %></h1>
                <h6 class=""><%= organization.description %></h6>
            </div>
            <div class="col-4">
                <%= image_tag organization.picture, class: "img-fluid"  if organization.picture.attached? %>
            </div>
          <% organization.members.all.each_with_index do |member, index| %>
            <div class="col-md-3">
                <div class="card-img card-hover ">
                  <% if member.picture.attached? %>
                    <%= image_tag member.picture, class: "card-img-top" %>
                  <% else %>
                    <%= image_tag "people 1.png", class: "card-img-top" %>
                  <% end %>
                    <div class="card-body">
                        <h5 class="titulo-card"><%= member.name %></h5>
                        <h5 class="card-text"><%= member.position %></h5>
                    </div>
                </div>
            </div>
          <% end %>
        </div>
      <% end %>
      <% unless Organization.where(tipo: :colaborador).blank?  %>
      <div class="row colaboradoras">
        <div class="col-12">
          <h1 class="sub-titulo">
            <br>
            <%= Setting.get('colaboradoras') %>
            <br>
          </h1>
        </div>

        <% Organization.where(tipo: :colaborador).each_with_index do |organization, index| %>
          <div class="col-md-3 h-100">
              <%= link_to organization.url do |l| %>
                <%= image_tag organization.picture, class: "img-fluid"  if organization.picture.attached? %>
              <% end %>
          </div>
        <% end %>
      </div>
      <% end %>
    </section>
  <section class="container container-fuid">
      <div class="row">
        <div class="col-12">
          <input type="button" href="<%= Setting.get('descarga_url') %>" text="<%= Setting.get('descarga_text') %>">

          </input>
        </div>
      </div>
    </section>
