server {
server_name {{ hostname }};
access_log /var/log/nginx/passenger_ansible_rails_app.log;
error_log /var/log/nginx/passenger_ansible_rails_app_error.log;
passenger_ruby /home/{{ deploy_user }}/.rbenv/versions/{{ ruby_version }}/bin/ruby;
passenger_enabled on;
passenger_app_env {{ deploy_env }};
root {{ app_path }}/public;
}
