<div id="widgetIframe">
  <h1>Visitas</h1>
  <iframe seamless width="100%" height="350" src="https://matomo.plataformacontexto.cl/index.php?module=Widgetize&action=iframe&forceView=1&viewDataTable=graphEvolution&disableLink=0&widget=1&moduleToWidgetize=VisitsSummary&actionToWidgetize=getEvolutionGraph&idSite=2&period=day&date=yesterday&disableLink=1&widget=1" scrolling="yes" frameborder="0" marginheight="0" marginwidth="0">
  </iframe>
</div>
