  <!-- inicio sección color -->
  <section class="container-fluid fondo-negro pb-3">

    <div class="container">
      <div class="row">
        <div class="col-12">

          <nav aria-label="breadcrumb">
            <ol class="breadcrumbs">
              <li class="breadcrumb-itemFact"><a class="color-texto-factual" href="<%= root_path %>">Inicio</a></li>
              <li class="breadcrumb-itemFact"><a class="color-texto-factual" href="<%= home_factual_path %>">ContextoFactual</a></li>
              <li class="breadcrumb-itemFact" aria-current="page"><%= @post_category.name %></li>
            </ol>
          </nav>

          <h1 class="titulo-factual mt-5 mb-4">        	<%= @post_category.name %></h1>
          <p class="resumenFact"><%= @post_category.description %> </p>
        </div>

        <div class="col-md-12 pt-5">
          <ul class="text-left">
		          <%= social_share_button_tag(Setting.get('shared_message'), :url => url_for(:controller => 'posts', :action => 'post_category', :params => { :id => @post_category.id }, :only_path => false)) %>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- fin sección color -->
  <% unless @post_category.name == 'FactChecking' %>
    <section class="container-fluid fondo blanco pb-3">
            <div class="container">
              <% last_post = @post_category.posts.published(Date.today).first %>
                <div class="row">
                  <a href="<%= post_path last_post %>">
                    <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
                        <h2 class="subTituloFact">Última Publicación</h2>
                    </div>
                    </a>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 ">
                      <a href="<%= post_path last_post %>">
                      <% if last_post.image.attached? %>
                              <%= image_tag last_post.image, class: "factNews mx-auto ml-auto" %>
                      <% else %>
                              <%= image_tag "plebiscito.png", class: "factNews mx-auto ml-auto" %>
                      <% end %>
                    </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <a href="<%= post_path last_post %>">
                        <% unless last_post.qualification.blank? %>
                                <span class="<%= last_post.qualification.name %>"><%= last_post.qualification.label %></span>
                        <% end %>
                        <h2 class="tituloNota"> <%= last_post.title %></h2>
                        <span class="fecha2">Por:</span>
                        <span class="fecha1"><%= last_post.author %></span><br>
                        <span class="fecha2">Fecha de publicación:</span>
                        <span class="fecha1"><%= fecha_text last_post.fecha %></span>

                        <p class="resumen mt-3">
                          <%= last_post.resume %>
                        </p>
                        <!--
                        <a href="evento.html"> Leer mas </a>-->
                              <p class="nowrap">Leer más</p>
                        </a>
                    </div>
                </div>
            </div>
    </section>
    <section class="container">
      <% @records.where.not(id: last_post.id).each do |post| %>
      <a href="<%= post_path post %>">
            <div class="row">
                  <div class="col-md-8 col-lg-8 col-sm-12">
                      <% unless post.qualification.blank? %>
                        <span class="<%= post.qualification.name %>"><%= post.qualification.label %></span>
                      <% end %>
                      <h2 class="tituloNota"><%= post.title %></h2>
                      <% if post.image.attached? %>
                  		  <%= image_tag post.image, class: "factNewsImg" %>
                  		<% else %>
                  		  <%= image_tag "prueba-card.png", class: "factNewsImg" %>
                  		<% end %>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-8 col-lg-8 col-sm-12">
                      <span class="fecha2">Por:</span>
                      <span class="fecha1"><%= post.author %></span>
                      <p class="resumen mt-3">
                        <%= post.resume %>
                      </p>
                      <span class="fecha2">Fecha de publicación:</span>
                      <span class="fecha1"><%= fecha_text(post.fecha) %></span>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-8 col-lg-8 col-sm-12">
                          <p class="nowrap">Leer más</p>

                  </div>
              </div>
            </a>

      <% end %>
    </section>
<% else %>
  <section class="container-fluid">
    <div class="row">
      <% @post_category.posts.published(Date.today).where("qualification_id IS NOT NULL").order(id: :desc).each do |p| %>
        <div class="col-lg-4 col-md-4 col-sm-12 card-hover mb-4">
            <a href="<%= post_path p %>">
                <div class="factCardWhite-body h-100">
                    <h5 class="factCardWhite-title mt-2 ml-4 mt-4"></h5>
                    <div class="factCardWhite-body mx-4 my-4 <%= p.qualification.name %>-color">
                        <p class="factCardWhite-text mx-4 my-4 ">
                          <%= p.title.truncate(250) %>
                        </p>
                        <p class="factCardWhite-text mx -4 fecha-fch mb-5"><%= fecha_text(p.fecha) %></p>
                        <% unless p.qualification.blank? %>
                        <span class="<%= p.qualification.name %>"><%= p.qualification.label %></span>
                        <% end %>
                    </div>
                </div>
            </a>
        </div>
      <% end %>
    </div>
  </section>
<% end %>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <%== pagy_nav(@pagy) %>
      </div>
    </div>
  </div>
</section>
