<!-- inicio sección color -->
 <section class="container-fluid fondo-crema pb-3">
     <div class="container">
         <div class="row">
             <div class="col-12">

                 <nav aria-label="breadcrumb">
                     <ol class="breadcrumbs">
                         <li class="breadcrumb-item"><a class="color-texto" href="<%= root_path %>">Inicio</a></li>
                         <li class="breadcrumb-item"><a class="color-texto" href="<%= home_factual_path %>">ContextoFactual</a></li>
                         <li class="breadcrumb-item"><a class="color-texto" href="<%= post_category_path @post.post_category  %>"><%= @post.post_category.name  %></a></li>
                         <li class="breadcrumb-item" aria-current="page"><%= @post.title.truncate(60) %></li>
                     </ol>
                 </nav>

                 <div class="row">
                     <div class="col-lg-4 col-md-4 col-sm-12">
                       <% if @post.image.attached? %>
                              <%= image_tag @post.image, class: "w-100 mt-5" %>
                      <% else %>
                              <%= image_tag "prueba-card.png", class: "w-100 mt-5" %>
                      <% end %>
                     </div>
                     <div class="col-lg-8 col-md-8 col-sm-12">
                       <% unless @post.qualification.blank? %>
                         <span class="<%= @post.qualification.name %>-badge"><%= @post.qualification.label %></span>
                       <% end %>
                         <h1 class="titulo text-left pt-5"><%= @post.title %></h1>
                         <p class="resumen pt-5 autor-fecha">
                           <%= @post.author %>
                           <br>
                           <%= fecha_text @post.fecha %>
                         </p>

                     </div>
                 </div>
             </div>

             <div class="col-md-12 pt-5">
                 <ul class="text-center">
                   <%= social_share_button_tag(@post.title.truncate(100), :url => url_for(:controller => 'posts', :action => 'show', :id => @post.id, :only_path => false)) %>
                 </ul>
             </div>
         </div>
     </div>
 </section>
 <!-- fin sección color -->
 <!-- inicio sección cards -->
<% if @post.post_category.name == 'FactChecking' %>
    <section class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="card-img card-hover <%= @post.qualification.name %>-color recorta">
                    <div class="card-body">
                        <h5 class="titulo-card">Si sólo tienes 5 minutos, lee estas claves:</h5>
                          <%= simple_format @post.resume %>
                        <p class="card-text"> </p>

                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-8 col-sm-12 p-4">

                <br>
                <%= @post.content %>
                <br>
                <br>
                <% if @post.tag_names.count > 0 %>
                  <p><b>Palabras clave:</b></p>
                  <% @post.tag_names.each do |tag| %>
                      <button type="button" class="tag my-1 mr-1"><%= tag %></button>
            			<% end %>
            		<% end %>

            </div>

        </div>
    </section>

<% else %>
<section class="container">
    <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-12">
            <div class="card-img card-hover recorta">
                <div class="card-body">
                    <h5 class="titulo-card"></h5>
                    <p class="card-text"> <%= @post.resume %></p>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-8 col-sm-12 p-4">
            <%= @post.content %>
            <br>
            <br>
            <% if @post.tag_names.count > 0 %>
              <p><b>Palabras clave:</b></p>
              <% @post.tag_names.each do |tag| %>
                  <button type="button" class="tag my-1 mr-1"><%= tag %></button>
              <% end %>
            <% end %>

        </div>

    </div>
</section>
<% end %>
