/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap/scss/bootstrap
 *= require jquery.minicolors
 */

@font-face {
  font-family: 'Space Grotesk';
  src: font-url('SpaceGrotesk-Regular.otf');
  src: font-url('SpaceGrotesk-Bold.otf');
  src: font-url('SpaceGrotesk-Light.otf');
  src: font-url('SpaceGrotesk-Medium.otf');
  src: font-url('SpaceGrotesk-SemiBold.otf');
}

@import 'font_awesome5_webfont';
@import "social-share-button";

$size: 36px;

.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
    padding-left: 60px;
  }
}

.two-cols {
  column-count: 2;
}


.cover {
  object-fit: cover;
}

.metodo_p p {
  font-size: 15px;
  line-height: 22px;
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  text-align: left;
  color: var(--negro);
}

.color-texto-factual {
    font-size: 14px;
    line-height: 21px;
    color: var(--blanco)
}

.color-texto-factual:hover {
    font-size: 14px;
    line-height: 21px;
    color: var(--amarillo);
}

.breadcrumb-itemFact {
  font-size: 14px;
  line-height: 21px;
  color: var(--blanco)
}

.color-texto {
    font-size: 14px;
    line-height: 21px;
}

.color-texto:hover {
    font-size: 14px;
    line-height: 21px;
}

.breadcrumb-item {
  font-size: 14px;
  line-height: 21px;
  color: var(--negro);
}

.btn-contexto {
  color: var(--negro);
}



// .SectionContent a {
//     color: var(--negro);
//     font-family: Space Grotesk;
//     font-style: normal;
//     font-weight: bold;
//     font-size: 42px;
//     line-height: 50px;
//     letter-spacing: 0.02em;
//     text-decoration: none;
// }
//
// .SectionContent2 {
//     color: white;
//     font-family: Space Grotesk;
//     font-style: normal;
//     font-weight: bold;
//     font-size: 42px;
//     line-height: 50px;
//     letter-spacing: 0.02em;
//     text-decoration: none;
// }

.weTitle {
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 48px;
    text-align: left;
    margin-top: 80px;
    margin-bottom: 20px;

    color: #000000;
}

.weGesto{
    display: block;
    margin-bottom: 60px;
    top: 135px;
}

.weResum{
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 19px;
    color: #000000;
    text-align: left;
}

.subTitle{
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  color: var(--negro);
}

.weSubTitle{
    font-family: Space Grotesk;
    font-style: normal;
    font-size: 34px;
    line-height: 48px;
    text-align: left;
    margin-bottom: 20px;
    color: var(--blanco);
}

.weResum2{
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 19px;
    color: #000000;
    text-align: left;
    color: #ffffff;
}
.subTitle3{
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    text-align: center;
    color: var(--negro);
}

.weResum3{
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 19px;
    color: #000000;
    text-align: center;
}

// .frase {
//     font-family: Space Grotesk;
//     font-style: normal;
//     font-weight: 600;
//     font-size: 40px;
//     line-height: 117.5%;
//     margin-top: 20%;
//   }

.directivo {

  margin-top: 80px;
}

.colaboradoras {

    margin-top: 40px;

    display: flex;
    align-items: center;
}

.participantes {
  display: flex;
  align-items: center;
}


.amarillo-card {
  background-color: var(--amarillo);
}

.azul-card {
  background-color: var(--azul);
}

.card-border {
  border: 3px solid var(--negro) !important;
}

// .cardimage {
//     width: 100%;
//     height: 15vw;
//     object-fit: cover;
// }

// .card-img {
//   // background: #FFFFFF;
//   border: 3px solid #000000;
//   margin-top: 25px;
//   margin-bottom: 25px;
//   // padding-bottom: 25px;
//   object-fit: cover;
//
// }
//
// .card-img-top {
//     width: 100%;
//     height: 20vw;
//     // margin-bottom: 25px;
//     object-fit: cover;
// }

// .card {
//   height: 95%;
// }
