:root {
  --amarillo: #E8CD32;
  --rojo: #DD553D;
  --azul: #5E8EF9;
  --crema: #F1F1F1;
  --blanco: #ffffff;
  --negro: #000000;
}

.buscar {
  display: flex;
  background-color: var(--blanco);
  border-radius: 4px;
  padding: 5px;
}

.buscar_texto {
  border: none;
  background: none;
  outline: none;
  color: var(--negro);
  font-size: 14px;
  float: left;
  line-height: 40px;
  transition: .3s;
  width: 0;
}

/* compatible para navegadores */
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  line-height: 40px;
}

::-webkit-input-placeholder {
  /* Webkit */
  line-height: 40px;
}

:-ms-input-placeholder {
  /* IE */
  line-height: 40px;
}

.dropdown-toggle::after {
  margin-left: .5em !important;
  vertical-align: 0.15em !important;
}

.boton {
  width: 40px;
  height: 40px;
  text-decoration: none;
  color: var(--negro);
  font-size: 14px;
}

.buscar-mobile {
  background-color: var(--blanco);
  border-radius: 3px;
}

@media screen and (min-width:480px) {
  .buscar:hover>.buscar_texto {
    width: 100px;
  }
  .bigIcone{
      align-content: center;
      width: 100%;
  }
}

@media screen and (min-width:1024px) {
  .buscar:hover>.buscar_texto {
    width: 200px;
  }
}

.resumen {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 19px;
  text-align: left;

  color: #000000;
}

p {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;

  color: #000000;
}


.logo {
  height: 30px;
}

.logos-footer {
  width: 60%;
  margin-left: auto;

}


.navbar-contexto {
  background-color: var(--crema);
}

.fondo-inicial {
  background-color: var(--crema);
  height: 100%;
}

.fondo-crema {
  background-color: var(--crema);
}

.fondo-negro {
  background-color: var(--negro);
}

.fondo-rojo {
  background-color: var(--rojo);
}

.fondo-azul {
  background-color: var(--azul);
}

.fondo-amarillo {
  background-color: var(--amarillo);
}

.fondo-construccion {
  background-color: var(--amarillo);
  height: 100vh;
}

.img-construccion {
  width: 150px;
}

.logo-construccion {
  height: 70px;
  width: 250px;
}

.isotipo {

  margin-right: auto;
  margin-left: auto;
  margin-top: 7em;
  margin-bottom: 5em;

}

[type="button"],
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}


.titulo {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 0.01em;
  color: #000000;
  margin: 0px;
}

.titulo-footer {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 48px;
  text-align: left;

  color: #ffffff;
}

.titulo-card {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-align: left;

  color: #000000;
}

.frase {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  display: flex;
  align-items: center;
  letter-spacing: 0.44px;
  margin-top: 20%;
}

.nav-link {
  color: var(--negro);
  font-family: karla;
  font-size: 16px;
}

.texto-footer {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff
}

.form-control-sm {
  background: var(--blanco);
  border: none;
  line-height: 40px !important;
}

.card-contexto {
  background: #FFFFFF;
  border: 3px solid #000000;
  box-sizing: border-box;
  margin-bottom: 25px;
  margin-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card-img {
  background: #FFFFFF;
  border: 3px solid #000000;
  margin-top: 25px;
  /* margin-bottom: 25px; */
  /* padding-bottom: 25px; */
  object-fit: cover;
  height: 95%;
}

.card-img-top {
    width: 100%;
    height: 25vw;
    /* margin-bottom: 25px; */
    object-fit: scale-down;
}

.icono-card {
  width: 55px;

}

.gesto {

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  top: 135px;

}

h3 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.alinear-v {
  display: table-cell;
  vertical-align: middle;
}

.card-text {
  font-size: 16px;
  line-height: 19px;

}

.card-body {
  padding: 15px;
}

.img-carrusel {
  height: 100vh;
  background-color: var(--crema);
}

.icono-qa {
  width: 16em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  top: 135px;
}


.card-qa {
  background: #FFFFFF;
  box-sizing: border-box;
}

.card-pregunta {
  background-color: var(--white);
  border: 3px solid #000000;
}

.card-respuesta {
  background-color: var(--crema);

  padding: 20px;
  /* or 147% */

  /* display: flex; */
  align-items: left;
  text-align: left;
}

.respuesta_p {
  column-count: 1;
}

.btn-pregunta {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  padding: 20px;
}

.icono-down {
  float: right;
  margin-right: 20px;
  margin-top: 20px;
}

.btn-contexto-container {
  margin-top: 3em;
  display: flex;
  position: relative;
  left: -35px;
}

.btn-contexto {
  background: #FFFFFF;
  border: 3px solid #000000;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  font-size: 20px;
}

.btn-contexto:hover {
  background-color: #000000;
  color: white;

}

.btn-contexto2 {
  background: var(--negro);
  border: 3px solid #ffffff;
  color: var(--blanco);
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  font-size: 20px;
}

.btn-contexto2:hover {
  background-color: var(--blanco);
  color: var(--negro);
}

.flecha-gesto {
  width: 130px;
  padding-right: 30px;
}

.lupa-gesto{
  width: 55px;
  padding-right: 30px;
}

.fecha {
  background-color: var(--negro);
  position: absolute;
  width: 100px;
  height: 110px;
}

.fecha-dia {
  font-size: 60px;
  color: var(--blanco);
  position: absolute;
  width: 71px;
  height: 82px;
  left: 14px;
  top: 20px;
}

.fecha-mes {
  font-size: 28px;
  color: white;
  position: absolute;
  width: 70px;
  height: 33px;
  left: 15px;
  top: 60px;
}

.fecha-hora {
  font-size: 20px;
  color: white;
  position: absolute;
  width: 70px;
  height: 33px;
  left: 15px;
  top: 85px;
}

.card-btn-container {
  align-items: center;
}



.titulo-qa {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 80px;

  color: #000000;
}

.collapse-chevron-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.texto-blanco {
  color: var(--blanco);
  font-size: 15px;
}

.borde-contexto {
  background-color: white;
  border: 1px solid #000000;
  padding: 10px;
}

.caja-correo {
  width: 180px;
}

.caja {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-hover:hover {
  transition: 0.5s;
  transform: scale(1.03);
}

.breadcrumbs {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 2rem;
  margin-bottom: 1rem;
  list-style: none;
}

.color-texto {
  color: var(--negro);
}

.color-texto:hover {
  color: white;
}

.breadcrumb-item+.breadcrumb-item::before {
  display: inline-block;
  padding-right: .5rem;
  color: var(--negro);
  content: ">";
}

.tag {
  color: var(--negro);
  background-color: var(--crema);
  border-color: var(--negro);
  padding: .25rem .5rem;
  font-size: 15px;
  line-height: 18px;
  align-items: center
}

.icono-rrss {
  font-size: 24px;
  color: var(--negro);
  padding-left: 10px;
  padding-right: 10px;
}

.icono-rrss:hover {
  transition: 0.5s;
  transform: scale(1.03);
}

.icono-tiempo {
  width: 24px;
}

.btn-descargar {
  width: 30px;
}

.sub-titulo {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
}

.btn-qa {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: var(--negro);
  padding: 10px 20px;
  border: 3px solid #000000;
  background-color: var(--crema);
}

.btn-qa:hover {
  color: var(--blanco);
  background-color: var(--negro);
}

a:hover {
  text-decoration: none;
}

.bloque a[aria-expanded="true"] {
  background-color: var(--negro);
  color: var(--blanco);

}

@media (max-width: 768px) {
  .bloque {
    display: flex;

    overflow-y: hidden;
    overflow-x: auto;
  }
  .card-img {
    background: #FFFFFF;
    border: 3px solid #000000;
    margin-top: 25px;
    /* margin-bottom: 25px; */
    /* padding-bottom: 25px; */
    object-fit: cover;
    height: 95%;
  }

  .card-img-top {
      width: 100%;
      height: 45vh;
      /* margin-bottom: 25px; */
      object-fit: scale-down;
  }

  .bigIcone{
      align-content: center;
      width: 150%;
  }

}


@media screen and (min-width: 768px) {
  .isotipo {
    left: 28.27%;
    right: 28.53%;
    width: 100px;
  }

  .resumen {
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 19px;
    color: #000000;
  }

  .titulo {
    font-size: 55px;
    line-height: 48px;
  }

  .fondo-construccion {
    background-color: var(--amarillo);
    height: 100vh;

  }

  .gesto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    width: 150px;
  }

  .icono-qa {
    width: 250px;
  }

  .card-pregunta {
    background-color: var(--white);
    border: 5px solid #000000;
  }

  .btn-contexto {
    background: #FFFFFF;
    border: 5px solid #000000;
    display: flex;
    justify-content: flex-end
  }


  .card-contexto {
    border: 5px solid #000000;
    box-sizing: border-box;
    margin-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  /* .card-img {
    border: 5px solid #000000;
  } */

  .nav navbar {
    background-color: transparent !important;
  }

  .frase {
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 117.5%;
    margin-top: 10%;

  }

  p {
    font-size: 18px;
  }

  .titulo-card {
    font-size: 22px;
  }

  .img-construccion {
    width: 200px;
    margin-right: 100pxs;
    margin-left: 100px;
    margin-top: 7em;
    margin-bottom: 5em
  }

  .btn-qa {
    border: 5px solid #000000;
    margin-bottom: 10px;
    display: inline-block;

  }
  .bigIcone{
      align-content: center;
      width: 60%;
  }

}

@font-face {
  font-family: 'Space grotesk';
  src: url(spacegrotesk/SpaceGrotesk-Bold.otf);
  src: url(spacegrotesk/SpaceGrotesk-Light.otf);
  src: url(spacegrotesk/SpaceGrotesk-Medium.otf);
  src: url(spacegrotesk/SpaceGrotesk-Regular.otf);
  src: url(spacegrotesk/SpaceGrotesk-SemiBold.otf);
}

/*footer*/
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: var(--negro);
  margin-bottom: 50px;
  text-transform: uppercase;
}

#footer {
  background: var(--negro) !important;
}

#footer h5 {
  padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color: #ffffff;
}

#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

#footer ul.social li {
  padding: 3px 0;
}

#footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

#footer ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px;
}

#footer ul.social li a,
#footer ul.quick-links li a {
  color: #ffffff;
}

#footer ul.social li a:hover {
  color: #eeeeee;
}

#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 600;
}

#footer ul.quick-links li a i {
  margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
  font-weight: 600;
}

@media (max-width:767px) {
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}

.dropdown-item.active {
  color: #fff;
  text-decoration: none;
  background-color: var(--negro);
}

.dropdown-item:hover {
  color: #fff;
  text-decoration: none;
  background-color: var(--negro);
}

.enlace {
  color: var(--negro);
}

.enlace:hover {
  color: var(--negro);
}
.homeTitle {
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 84px;
    letter-spacing: 0.01em;
    color: #000000;
    margin: 0px;
}

.SectionContent {
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 50px;
    letter-spacing: 0.02em;
}

.SectionContent2 {
    color: white;
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 50px;
    letter-spacing: 0.02em;
}

.homeTitle2 {
    color: white;
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: normal;
    font-size: 33px;
    line-height: 84px;
    letter-spacing: 0.01em;
    margin: 0px;
}

.homeTitle3 {
    color: white;
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 84px;
    letter-spacing: 0.01em;
    margin: 0px;
}

.iconTitle {
    width: 67px;
    height: 74px;
    margin-left: 10px;
}

.linea1 {
    border: 2px solid #000000;
    background: #000000;
}

.linea2 {
    border: 2px solid #ffffff;
    background: #ffffff;
}

li {
    list-style: none
}

.iconTitle2 {
    margin-left: 10px;
    height: 54px;
}


.iconTitle3 {
  margin-top: 3.5rem;
  margin-bottom: 15px;
  height: 50px;
}

a {
    color: black;
}

a:hover {
    color: black;
}

.icono-frase {
    height: 50px;
}

@media (min-width:768px) {
    .homeTitle {
        font-family: Space Grotesk;
        font-style: normal;
        font-weight: bold;
        font-size: 55px;
        line-height: 84px;
        letter-spacing: 0.01em;
        color: #000000;
        margin: 0px;
    }

    .SectionContent {
        font-family: Space Grotesk;
        font-style: normal;
        font-weight: bold;
        font-size: 42px;
        line-height: 50px;
        letter-spacing: 0.02em;
    }

    .SectionContent2 {
        color: white;
        font-family: Space Grotesk;
        font-style: normal;
        font-weight: bold;
        font-size: 42px;
        line-height: 50px;
        letter-spacing: 0.02em;
    }

    .homeTitle2 {
        color: white;
        font-family: Space Grotesk;
        font-style: normal;
        font-weight: normal;
        font-size: 55px;
        line-height: 84px;
        letter-spacing: 0.01em;
        margin: 0px;
    }

    .homeTitle3 {
        color: white;
        font-family: Space Grotesk;
        font-style: normal;
        font-weight: bold;
        font-size: 55px;
        line-height: 84px;
        letter-spacing: 0.01em;
        margin: 0px;
    }

    .iconTitle {
        height: 74px;
        margin-left: 10px;
    }

    .iconTitle2 {
        margin-left: 10px;
        height: 64px;
    }

    .iconTitle3 {
      margin-top: 4rem;
      height: 60px;
    }

    .navbar-light .navbar-nav .nav-link {
      color: var(--negro);
      font-family: karla;
      font-size: 18px;
      font-weight: 600;
    }
    .carousel-indicators {
      justify-content: center;
      bottom: 10;
    }

    .pre-frase {
      font-family: Space Grotesk;
      font-style: normal;
      font-weight: 600;
      font-size: 26px;
      line-height: 31px;
    }
   .sub-frase {
      font-family: Space Grotesk;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 25px;
    }
}

.a-home {
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    color: #000000;
}

.a-home:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 1px;
    background: #000000;
    transition: left .3s;
}

.a-home:hover:after {
    left: 0;
}

.a-home2 {
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
}

.a-home2:hover {
    color: white;
}

.a-home2:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 3px;
    background: #ffffff;
    color: #ffffff;
    transition: left .3s;
}

.a-home2:hover:after {
    left: 0;
}

:root{
  --white: #FFF ;
  --grasy: #F1F1F1;
}

.menu-hamb {
	position: relative;
	display:  block;
	width: 40px;
	height: 30px;
	margin: 10px auto;
}
.menu-hamb span {
	margin: 0 auto;
	position: relative;
	top: 12px;
}
.menu-hamb span:before, .menu-hamb span:after {
	position: absolute;
	content: '';
}
.menu-hamb span, .menu-hamb span:before, .menu-hamb span:after {
	width: 40px;
	height: 4px;
	background-color: var(--gray);
	display: block;
	border-radius: 4px;
}
.menu-hamb span:before {
	margin: -12px 0 0 0;
}
.menu-hamb span:after {
	margin: 12px 0 0 0;
}
.collapse-hamb-hamb span {
	transition-duration: 0s;
	transition-delay: .2s;
}
.collapse-hamb.open span {
	background-color: rgba(256,256,256,0.0);
	transition-delay: .2s;
}
.collapse-hamb span:before {
	transition-property: margin, transform;
	transition-duration: .2s;
	transition-delay: .2s, 0;
}
.collapse-hamb.open span:before {
	margin-top: 0;
	transform: rotate(45deg);
	transition-delay: 0, .2s;
}
.collapse-hamb span:after {
  transition-property: margin, transform;
	transition-duration: .2s;
	transition-delay: .2s, 0;
}
.collapse-hamb.open span:after {
  margin-top: 0;
  transform: rotate(-45deg);
	transition-delay: 0, .2s;
}:root {
    --amarillo: #E8CD32;
    --rojo: #DD553D;
    --azul: #5E8EF9;
    --crema: #F1F1F1;
    --blanco: #ffffff;
    --negro: #000000;
}

.titulo-factual {
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 84px;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
    color: var(--blanco);

}

.tituloNota {
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
    color: var(--negro);
}

.subTituloFact {
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: bold;
    font-size: 37;
    margin-bottom: 20px;
    color: var(--negro);
}

.verdadero {
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px;
    color: #FFFFFF;
    background-color:#3dd3a2;
    padding-left: 0px;
    padding-right: 0px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.falso {
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px;
    color: #ffffff;
    background-color: #fc5439;
    padding-left: 0px;
    padding-right: 0px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.inchequeable {
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px;
    color: #ffffff;
    background-color: #999999;
    padding-left: 0px;
    padding-right: 0px;
    position: absolute;
    bottom: 0px;
    right: 0px;

}

.engañoso{
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px;
    color: #ffffff;
    background-color: #F1ED08;
    padding-left: 0px;
    padding-right: 0px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.verdad-pero{
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px;
    color: #ffffff;
    background-color: #beea68;
    padding-left: 0px;
    padding-right: 0px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.discutible{
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px;
    color: #ffffff;
    background-color: #f1cd04;
    padding-left: 0px;
    padding-right: 0px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.exagerado{
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px;
    color: #ffffff;
    background-color: #f1cd06;
    padding-left: 0px;
    padding-right: 0px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.falso-pero{
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px;
    color: #ffffff;
    background-color: #ff931e;
    padding-left: 0px;
    padding-right: 0px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.fecha1{
    font-family: karla;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    text-align: left;
    margin-bottom: 20px;
    color: var(--negro);
}

.fecha2{
    font-family: karla;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    margin-bottom: 20px;
    color: var(--negro);
}

.BlackLine{
    border: 2px solid #000000;
    background: #000000;
}

h2 {
    font-family: Space Grotesk;
    font-style: normal;
    font-size: 42px;
    line-height: 48px;
    text-align: left;
    margin-bottom: 20px;
    color: var(--blanco);
}

.fuente{
    font-family: Karla;
    font-style: italic;
    font-weight: normal;
    font-size: 10px;
}

.a-report {
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    color: #000000;
}

.a-report:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 3px;
    background: #000000;
    transition: left .3s;
}

.img-notas{
    display: flex;
    justify-content:center;
    margin-left: 40px;

}

.factNewsImg{
    width: 100%;
}

.a-report:hover:after {
    left: 0;
}

.breadcrumb-factual {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 2rem;
    margin-bottom: 1rem;
    list-style: none;
}

.color-texto-factual {
    color: var(--blanco)
}

.color-texto-factual:hover {
    color: var(--amarillo);
}

.breadcrumb-itemFact+.breadcrumb-itemFact::before {
    display: inline-block;
    padding-right: .5rem;
    color: var(--blanco);
    content: ">";
}

.resumenFact {
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 19px;
    color: var(--blanco);
}

.iconoFact-rrss {
    font-size: 24px;
    color: var(--blanco);
    padding-left: 10px;
    padding-right: 10px;
}

.factNews {
    height: auto;
    border: 4px;
    border-style: solid;
    border-color: white;
    display: block;
    width: 100%;

}

.factCard-body {
    border: 4px;
    border-color: var(--blanco);
    border-style: solid;
    /* height: 20vh; */
    position: relative;
    height: 95%;
    overflow: hidden;
}

.factCard-title {
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-align: left;
    color: var(--blanco);
}

.factCard-img {
    border: 4px solid #FFFFFF;
    margin-bottom: 25px;
    width: 100%
}

.factCard-text {
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    text-align: left;
    color: var(--blanco);

}

.reviewFact {
    /* width: 500; */
    display: flex;
    justify-content: flex-end
}

.factCardWhite-title {
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-align: left;
    color: var(--negro);
}

.factCardWhite-body {
    border: 4px;
    border-color: var(--negro);
    border-style: solid;
    /* height: 20vh; */
    position: relative;
    height: 80%;
    overflow: hidden;
}

.factCardWhite-text {
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    text-align: left;
    color: var(--negro);
}

.factchk_img {
  height: 5vh;
  position: absolute;
  bottom: 0px;
  right: 0px;
}


.verdadero-color{
    border-color:#3dd3a2;
}

.falso-color{
    border-color: #fc5439;
}

.inchequeable-color{
    border-color: #999999;
}

.engañoso-color{
    border-color: #F1ED08;
}

.verdad-pero-color{
    border-color: #beea68;
}

.discutible-color{
    border-color: #f1cd04;
}

.exagerado-color{
    border-color: #f1cd06;
}

.falso-pero-color{
    border-color: #ff931e;
}


.weResum-w{
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 19px;
    color: #FFFFFF;
    text-align: left;
}

.negrote p {
  color: #FFFFFF;
}

.iconTitle4 {
  height: 30px;
}

.pagy-nav {
  margin: auto;
  display: table !important;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
}

.verdadero-badge {
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px;
    color: #FFFFFF;
    background-color:#3dd3a2;
    padding-left: 0px;
    padding-right: 0px;
    position: absolute;
    top: 0px;
    left: 20px;
}

.falso-badge {
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px;
    color: #ffffff;
    background-color: #fc5439;
    padding-left: 0px;
    padding-right: 0px;
    position: absolute;
    top: 0px;
    left: 20px;
}

.inchequeable-badge {
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px;
    color: #ffffff;
    background-color: #999999;
    padding-left: 0px;
    padding-right: 0px;
    position: absolute;
    top: 0px;
    left: 20px;

}

.engañoso-badge {
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px;
    color: #ffffff;
    background-color: #F1ED08;
    padding-left: 0px;
    padding-right: 0px;
    position: absolute;
    top: 0px;
    left: 20px;
}

.verdad-pero-badge {
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px;
    color: #ffffff;
    background-color: #beea68;
    padding-left: 0px;
    padding-right: 0px;
    position: absolute;
    top: 0px;
    left: 20px;
}

.discutible-badge {
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px;
    color: #ffffff;
    background-color: #f1cd04;
    padding-left: 0px;
    padding-right: 0px;
    position: absolute;
    top: 0px;
    left: 20px;
}

.exagerado-badge {
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px;
    color: #ffffff;
    background-color: #f1cd06;
    padding-left: 0px;
    padding-right: 0px;
    position: absolute;
    top: 0px;
    left: 20px;
}

.falso-pero-badge {
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px;
    color: #ffffff;
    background-color: #ff931e;
    padding-left: 0px;
    padding-right: 0px;
    position: absolute;
    top: 0px;
    left: 20px;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--negro);
  font-family: karla;
  font-size: 18px;
  font-weight: 600;
}

.carousel-indicators li {
  height: 5px !important;
  background-color: #000000 !important;
}

.carousel-indicators {
  justify-content: center !important;
  bottom: -10% !important;
}

.pre-frase {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 31px;
}

.sub-frase {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.marco {

}

.titulo-nota {
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  color: var(--blanco)
}

.recorta {
  height: max-content;
}

.autor-fecha {
  text-align: right;
}

.fecha-fch {
  text-align: right;
  margin-right: 10px;
  height: 100%;
  margin-bottom: 0px;

}

.nowrap{
  margin-top: 20px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.factual-home-report{
  width: 100%;
}

figure img {
  width: 100%;
}

iframe {
  width: 100%;
  min-height: 40vh;
  max-height: 100vh;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button-bevel !important;
}

.btn-bev {
  -webkit-appearence: button-bevel !important;
}

.page {
  margin-right: 1.5rem;
}

.pagy-nav a{
  color: #000;
}

.pagy-nav .disabled{
  color: #666;
}

.rrss_res_icon {
  height: 40px;
}
