// Place all the styles related to the Lupa controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*Charts*/
.lupa_chart {
  padding: 50px 0 20px;
}

.ranking_chart {
  width: 100%;
  position: relative;
  left: -20px;
}

.lupa_search_form {
  width: 100%;
}

.lupa_search_field {
  width: 90%;
  margin: auto;
  line-height: 2.3;
  border: none;
}

#lupa_search_form_2 {
  border: 3px solid black !important;
  padding: 5px 20px;
  border-radius: 60px;
}

.lupa{
  width: 40px;
  height: 40px;
}

#canvas_1{
  width: 100%;
  height: 100%;
}

#canvas_1 > svg{
  width: 100%;
}

#canvas_2{
  width: 100%;
  height: 100%;
}

#canvas_2 > svg{
  width: 100%;
}

#canvas {
    transform: rotate(90deg);
    position: relative;
    top: 120px;
    left: -55%;
    width: 100%;
    height: 100%;
}

/*Tabs*/
.nav-item {
  margin-right: 10px !important;
  margin-top: 10px !important;
}

.lupa-item > .nav-link{
  font-weight: 600 !important;
  color: #000 !important;
  border: transparent !important;
  border-bottom: 5px solid #000 !important;
  padding: 0.8rem 1rem 0.5rem !important;
}

.lupa-item > .nav-link:hover{
  background-color: #000 !important;
  color: #fff !important;
  border-radius: 0 !important;
}

.lupa-item > .nav-link.active{
  font-weight: 600 !important;
  color: #fff !important;
  border: transparent !important;
  background-color: #000 !important;
  border-bottom: 5px solid #000 !important;
  border-radius: 0 !important;
}

/*Tables*/
.table td {
  border-top: 1px solid black !important;
}

.table th {
  border-top: 1px solid black !important;
}

.lupa-table-link{
  font-weight: 600;
  position: relative;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.lupa-table-link:hover{
  text-decoration: none;
  color: #000;
}

.lupa-table-link::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 3px;
  background: #000;
  transition: left .3s;
}

.lupa-table-link:hover:after {
    left: 0;
}

.arrow-lupa{
    width: 20px;
    position: relative;
    top: -4px;
    left: 7px;
}

/*Cards*/
.fondo-blanco{
    background-color: white;
}

.small-card-text{
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 0 !important;
}

/*Report*/
.report-lupa{
  width: 50px;
  margin-bottom: 15px;
}

/*Data*/
.download-lupa{
  width: 20px;
}

/*Map*/
#mapid{
  height: 100vh;
  width: 100%;
}

.location-lupa{
  width: 20px;
  margin-right: 5px;
}

@media only screen and (max-width: 991px) {
  #canvas {
    top: -50px;
  }

  .text-mobile-center{
    text-align: center;
  }
  
  .lupa_search_field {
    width: 84%;
    margin: auto;
    line-height: 2.3;
    border: none;
  }

  #lupa_search_form_2 {
    border: 2px solid black;
    padding: 2px 15px;
    border-radius: 60px;
  }

  .lupa{
    width: 30px;
    height: 30px;
  }

  ::placeholder{
    font-size: 10px;
  }

  .lupa-item > .nav-link{
    font-size: 12px;
  }

  .lupa-item > .nav-link.active{
    font-size: 12px;
  }

  .table-scroll{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  #mapid{
  height: 40vh;
  }

}

@media only screen and (max-width: 767px) {
  #canvas {
    top: -160px;
  }
}

@media only screen and (max-width: 400px) {
  #canvas {
    top: -220px;
    left: -70%;
  }
}

@media only screen and (max-width: 337px) {
  #canvas {
    top: -270px;
    left: -82%;
  }
}
