<h2> 
  Te recomendamos
</h2>
<% recomendados = Recurso.where(recommended: true) %>
<div class="bs-example" style="background green">
<div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
    <% recomendados.each_with_index do |recurso, index| %>
      <li data-target="#myCarousel" data-slide-to="<%= index %>" class="<%= "active" if index == 0 %>"></li>
    <% end %>  
        </ol>
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
      
    <% recomendados.each_with_index do |recurso, index| %>
      <div class="carousel-item<%= " active" if index == 0 %>">
        <a href="<%= recurso_path recurso.id %>">
          <div class="carousel-caption d-none d-md-block rounded-0">
            <h5><%= recurso.name %></h5>
            <div class=""><%= fa_icon 'hourglass-start', text: recurso.reading_time.to_s + "'" , class: 'mx-2', size: '2x' %></div>
            <div class=""><%= fa_icon 'signal', text: recurso.dificulty , class: 'mx-2', size: '2x' %></div>
          </div>
        </a>
      </div>
    <% end %>
      
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>
