  <!-- inicio sección color -->
  <% index = @category.section.id - 1 %>
  <section class="container-fluid fondo-<%= index == 0 ? 'azul' : 'amarillo' %> pb-3">

    <div class="container">
      <div class="row">
        <div class="col-12">

          <nav aria-label="breadcrumb">
            <ol class="breadcrumbs">
              <li class="breadcrumb-item"><a class="color-texto" href="<%= root_path %>">Inicio</a></li>
              <li class="breadcrumb-item"><a class="color-texto" href=""><%= @category.section.name %></a></li>
              <li class="breadcrumb-item" aria-current="page"><%= @category.name %></li>
            </ol>
          </nav>

          <h1 class="titulo mt-5 mb-4">        	<%= @category.name %></h1>
          <p class="resumen"><%= @category.description_short %> </p>
        </div>

        <div class="col-md-12 pt-5">
          <ul class="text-left">
		          <%= social_share_button_tag(Setting.get('shared_message'), :url => url_for(:controller => 'home', :action => 'index', :only_path => false)) %>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- fin sección color -->



  <!-- inicio sección cards -->
  <section class="container">
    <div class="row">


<% @records.each do |recurso| %>
      <div class="col-md-12 col-lg-4">
        <a href="<%= recurso_path recurso.id %>">
        <div class="card-img card-hover card-border">
    		<% if recurso.picture.attached? %>
          		  <%= image_tag recurso.picture, class: "card-img-top imag-fluid" %>
    		<% else %>
          		  <%= image_tag "prueba-card.png", class: "card-img-top imag-fluid" %>
    		<% end %>
          <div class="card-body">
            <h5 class="titulo-card">
              <% unless recurso.blank? %>
                <%= recurso.name.truncate(60) unless recurso.name.blank? %>
              <% end %>
            </h5>
            <!-- <p class="card-text">Autor(es):<%= recurso.author %> </p> -->
              <div class="d-flex justify-content-end card-btn-container">
                  <p class="mb-0 mr-2">Ver más</p>
          		    <%= image_tag "flecha-vol-derecha.svg", class: "flecha-in" %>
              </div>
          </div>
        </div>
      </a>
      </div>
<% end %>

    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <%== pagy_nav(@pagy) %>
        </div>
      </div>
    </div>
  </section>
