<!-- inicio sección recursos -->
  <section class="container-fluid fondo-azul pb-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="titulo">Recursos</h1>
	  <%= image_tag "Vector.svg", class: 'gesto' %>
          <p class="resumen">
			<%= Setting.get('home_recursos') %>
          </p>
        </div>

<% @categories.limit(4).each do |cat| %>
        <div class="col-md-6">
		<%= link_to category_path(cat) do |link|%>
          <div class="card-contexto w-100 card-hover">
            <div class="row">
              <div class="col-3 alinear-v">
				<%= fa_icon cat.icon_text, text: "", class: 'icono-card mx-4 my-4', size: '2x' %>
              </div>
              <div class="col-9">
                <div class="">
                  <h3 class="titulo-card"><%= cat.name %></h3>
                  <p class="card-text"><%= cat.description_short %></p>
                </div>
              </div>
            </div>
          </div>
		<% end %>
        </div>
<% end %>
      </div>
    </div>
  </section>
  <!-- fin sección recursos -->
