<div class="container-fluid">
  <div class="row">
    <div class="contexto-jumbo col-xs-12 col-md-12 col-lg-12">
    <%= image_tag "plus_sign.svg", height: '160', width: '160', class: "title_bg_image" %>
    <p> 
      Somos un espacio libre de propaganda política, que entrega información fidedigna, traduciendo contenido teórico complejo y abstracto a nuestro lenguaje y vida cotidiana
    </p>
    </div>
  </div>

</div>
<%= render template: 'recursos/index' %>
<%= render template: 'faqs/index' %>
