  <!-- inicio sección color -->
  <% index = @section.id - 1 %>
  <section class="container-fluid fondo-<%= index == 0 ? 'azul' : 'amarillo' %> pb-3">
    <div class="container">
      <div class="row-fluid">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumbs">
              <li class="breadcrumb-item"><a class="color-texto" href="<%= root_path %>">Inicio</a></li>
              <li class="breadcrumb-item" aria-current="page"><%= @section.name %></li>
            </ol>
          </nav>
          <div class="d-flex mb-4">
                       <h1 class="homeTitle"><%= @section.name %></h1>
                       <%= image_tag url_for(@section.icon), class: 'iconTitle' if @section.icon.attached? %>
                   </div>
        </div>
        <div class="col-md-12 pt-5">
          <ul class="text-left">
		<%= social_share_button_tag(Setting.get('shared_message'), :url => url_for(:controller => 'home', :action => 'index', :only_path => false)) %>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- fin sección color -->
  <section class="container-fluid fondo-<%= index == 0 ? 'azul' : 'amarillo' %> ">
       <div class="container">
         <!-- big boxes -->
           <div class="row">
             <% cat_grande = @section.recurso_categories.where(box_size: 'big').first %>
                <% ultima = cat_grande.recursos.last %>
                <div class="col-md-8 col-sm-12">

                    <div class="card-deck">
                        <div class="card card-img card-hover card-border">
                            <% if ultima.picture.attached? %>
                                    <%= image_tag ultima.picture, class: "card-img-top img-fliud borderImg cover" %>
                            <% else %>
                                    <%= image_tag "plebiscito.png", class: "card-img-top img-fliud borderImg" %>
                            <% end %>
                              <%= link_to recurso_path ultima do |link| %>
                                <div class="card-body <%= index == 0 ? 'azul' : 'amarillo' %>-card">
                                    <p class="card-text"><%= ultima.fecha %></p>
                                    <h5 class="titulo-card"><%= ultima.description_short %></h5>
                                    <div class="d-flex justify-content-star">
                                    </div>
                                    <div class="d-flex justify-content-end card-btn-container">
                                        <p class="mb-0 mr-2">Ver más</p>
                                        <%= image_tag "flecha volumen derecha.svg", class: 'flecha-in' %>
                                    </div>
                                </div>
                                <% end %>
                        </div>

                      </div>
                    </div>
                        <div class="col-md-4 col-sm-12">
                          <div class="card card-img card-hover card-border card-border">
                            <a class="twitter-timeline" data-lang="es" data-width="400" data-height="100%" href="https://twitter.com/udp_cl?ref_src=twsrc%5Etfw">
                              Tweets de @udp_cl
                            </a>
                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                          </div>
                        </div>
           </div>
           <br>
           <!-- small boxes -->
           <div class="row-fluid">
             <div class="card-deck">
             <% @section.recurso_categories.where(box_size: 'small').each do |category| %>
             <div class="col-md-4  col-sm-12">
               <a href="<%= category_path category %>">
                 <div class="card card-img card-hover card-border">
                   <%= image_tag url_for(category.icon), class: 'card-img-top img-fliud borderImg' if category.icon.attached? %>
                   <div class="card-body <%= index == 0 ? 'azul' : 'amarillo' %>-card">
                     <h5 class="titulo-card"><%= category.name.truncate(30) %></h5>
                   </div>
                 </div>
               </a>
             </div>
             <% end %>
             </div>
           </div>
           <br>
           <!-- normal boxes -->
           <div class="row-fluid">
             <div class="card-deck">
             <% @section.recurso_categories.where(box_size: 'normal').each do |category| %>
               <div class="col-md-6 col-sm-12">
                   <a href="<%= category_path category %>">
                       <div class="card card-img card-hover card-border">
                           <%= image_tag url_for(category.picture), class: 'card-img-top img-fliud borderImg' if category.picture.attached? %>
                           <div class="card-body <%= index == 0 ? 'azul' : 'amarillo' %>-card">
                               <h5 class="titulo-card"><%= category.name.truncate(30) %></h5>
                           </div>
                       </div>
                   </a>
               </div>
              <% end %>
              </div>
            </div>
       </div>
  </section>
