<!-- inicio sección color -->
  <section class="container-fluid fondo-crema pb-3">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <nav aria-label="breadcrumb">
            <ol class="breadcrumbs">
              <li class="breadcrumb-item"><a class="color-texto" href="<%= root_path %>">Inicio</a></li>
              <li class="breadcrumb-item"><a class="color-texto" href="<%= section_path @recurso.recurso_category.section %>"><%= @recurso.recurso_category.section.name %></a></li>
              <li class="breadcrumb-item"><a class="color-texto" href="<%= category_path(@recurso.recurso_category) %>"><%= @recurso.recurso_category.name %></a></li>
              <li class="breadcrumb-item" aria-current="page"><%= @recurso.name %></li>
            </ol>
          </nav>


          <div class="row">
            <div class="col-md-4">
		<% if @recurso.picture.attached? %>
      		  <%= image_tag @recurso.picture, class: "w-100 mt-5" %>
		<% else %>
      		  <%= image_tag "prueba-card.png", class: "w-100 mt-5" %>
		<% end %>
            </div>
            <div class="col-md-8 mt-5">
              <h1 class="titulo mb-3"><%= @recurso.name %></h1>
              <p class="resumen">
				            <%= @recurso.description_long %>
              </p>

            </div>
          </div>
        </div>

        <div class="col-md-12 pt-5">
          <ul class="text-center">
		<%= social_share_button_tag(@recurso.name, :url => url_for(:controller => 'recursos', :action => 'show', :id => @recurso.id, :only_path => false)) %>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- fin sección color -->

  <!-- inicio sección cards -->
  <section class="container">
    <div class="row">
      <div class="col-md-4 fondo-crema p-5">
        <h5 class="titulo-card"><%= @recurso.name %></h5>

        <% unless @recurso.author.blank? %>
          <p class="card-text">Autor(es): <%= @recurso.author %></p>
        <% end %>

        <% unless @recurso.facebook.blank? %>
          <%= link_to @recurso.facebook do |l| %>
            <%= image_tag "rrss-facebook.svg", class: "rrss_res_icon" %>
          <% end %>
        <% end %>

        <% unless @recurso.twitter.blank? %>
          <%= link_to @recurso.twitter do |l| %>
            <%= image_tag "rrss-twitter.svg", class: "rrss_res_icon" %>
          <% end %>
        <% end %>

        <% unless @recurso.instagram.blank? %>
          <%= link_to @recurso.instagram do |l| %>
            <%= image_tag "rrss-instagram.svg", class: "rrss_res_icon" %>
          <% end %>
        <% end %>

        <% unless @recurso.reading_time.blank? %>
          <div class="d-flex justify-content-star">
              <p class="mb-0 mr-2">5'</p>
  		        <%= image_tag 'clock-regular.svg', class: 'icono-tiempo mr-1' %>
          </div>
        <% end %>
      </div>

      <div class="col-md-8 p-4">
        <% unless @recurso.video.blank? %>
            <%= raw @recurso.video %>
			  <% end %>
        <br>
        <% unless @recurso.resume.blank? %>
          <p class=""><b>Resumen:</b>
			       <%= simple_format @recurso.resume %>
			  <% end %>
    		<% if @recurso.tag_names.size >0 %>
              <p><b>Palabras clave:</b></p>
    		<% end %>
  			<% @recurso.tag_names.each do |tag| %>
            <button type="button" class="tag"><%= tag %></button>
  			<% end %>
        <div class="d-flex justify-content-center">
          <div class="btn-contexto-container">
            <% if @recurso.document.attached? %>
              <%= image_tag 'flecha-gesto.svg', class: 'flecha-gesto'%>
        		  <%= link_to @recurso.document, target: :_blank do |link| %>
                <button class="btn-contexto">Descargar</button>
        		  <% end %>
            <% end %>
            </div>
            <div class="btn-contexto-container">
            <% unless @recurso.url.blank? %>
              <%= image_tag 'flecha-gesto.svg', class: 'flecha-gesto'%>
        		  <%= link_to @recurso.url, target: :_blank do |link| %>
                <button class="btn-contexto">Ir al sitio</button>
        		  <% end %>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </section>
