<%= form_with(url: truncate_path(@abstract_model), method: "get") do %>
<h2>Are you sure you want to truncate table  <%= @abstract_model.model_name.pluralize %>?</h2>
  <br>
  <%= check_box_tag(:truncate_sure) %>
  <%= label_tag(:truncate_sure, "Yes, truncate table " + @abstract_model.model_name.pluralize) %><br>
  This action will result in losing all <%= @abstract_model.model_name.pluralize %> data and can not be undone.<br>
  <div id="loader"></div>
  <%= submit_tag("Submit") %>
<% end %>
