<div>
  <%= form_with url: lupa_search_path, id: 'lupa_search_form_2', local: false, remote: true, method: :post do %>
    <%= text_field_tag :search, params[:search], placeholder:'Buscar por candidato, comuna o aportante',id: "search_field", :class => 'lupa_search_field', 'aria-label': '.search_for'%>
       <a class="boton" type="submit">
         <%= image_tag "lupa.svg", class: 'lupa', alt: "Buscar por candidato, comuna o aportante" %>
       </a>
  <% end %>
</div>
