<section class="container-fluid fondo-crema pb-5">
  <div class="container">
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumbs">
          <li class="breadcrumb-item"><a class="color-texto" href="<%= root_path %>">Inicio</a></li>
          <li class="breadcrumb-item"><a class="color-texto" href="<%= lupa_index_path %>">Lupa Electoral</a></li>
          <li class="breadcrumb-item" aria-current="page"><%= @aportante.nombre %></li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h5 class="titulo-card mt-5">Aportante</h5>
      <h1 class="titulo mb-3"><%= @aportante.nombre %></h1>
    </div>
  </div>
  </div>
</section>

<section class="container">
  <div class="container">
        <div class="row">
          <div class="col-12">
              <h3 class="titulo-card mb-4"><% total_aportes = @aportante.aportes_cached.sum(:monto) %></h3>
              <table class="table table-scroll">
              <tbody>
                <tr>
                  <th><p class="small-card-text"><b>Candidato</b></p></th>
                  <th><p class="small-card-text"><b>Pacto</b></p></th>
                  <th><p class="small-card-text" style="text-align: center"><b>Monto</b></p></th>
                  <th><p class="small-card-text"><b>Fecha</b></p></th>
                  <th><p class="small-card-text"><b>Tipo de aporte</b></p></th>
                  <th><p class="small-card-text"><b>Detalles</b></p></th>
                </tr>
                <% @aportante.aportes_cached.each do |aporte| %>
                <tr>
                  <td><p class="small-card-text"><%= link_to aporte.candidato.nombre, candidato_path(aporte.candidato), :class => 'lupa-table-link' %></p></td>
                  <td><p class="small-card-text"><%= aporte.candidato.pacto %></p></td>
                  <td><p class="small-card-text" style="text-align: right"><%= ActiveSupport::NumberHelper::number_to_delimited(aporte.monto, delimiter: '.', separator: ',') %></p></td>
                  <td><p class="small-card-text"><%= aporte.fecha %></p></td>
                  <td><p class="small-card-text"><%= aporte.tipo_aporte_correcto %></p></td>
                  <td>
                    <p class="small-card-text"><%= link_to 'Ver más', candidato_path(aporte.candidato), :class => 'lupa-table-link' %>
                    <%= image_tag "flecha-vol-derecha.svg", class: "arrow-lupa" %></p>
                  </td>
                </tr>
                <% end %>
              </tbody>
              </table>
          </div>
        </div>

  </div>
</section>
