<section class="container-fluid fondo-crema pb-5">
  <div class="container">
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumbs">
          <li class="breadcrumb-item"><a class="color-texto" href="<%= root_path %>">Inicio</a></li>
          <li class="breadcrumb-item"><a class="color-texto" href="<%= lupa_index_path %>">Lupa Electoral</a></li>
          <li class="breadcrumb-item" aria-current="page"><%= @candidato.nombre %></li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h5 class="titulo-card mt-5">Candidato</h5>
      <h1 class="titulo mb-3"><%= @candidato.nombre %></h1>
    </div>
    <!-- Tabla Desktop -->
    <div class="col-md-6 fondo-blanco mt-5 p-4 d-none d-lg-block">
      <p class="card-text mb-4"><b>Información del candidato</b></p>
      <table class="table">
        <tbody>
            <tr>
              <td><p class="small-card-text"><b>Distrito/Pueblo:</b></p></td>
              <td><p class="small-card-text"><%= @candidato.distrito.nombre %></p></td>
            </tr>
            <tr>
              <td><p class="small-card-text"><b>Partido:</b></p></td>
              <td><p class="small-card-text"><%= @candidato.partido.nombre %></p></td>
            </tr>
            <tr>
              <td><p class="small-card-text"><b>Pacto:</b></p></td>
              <td><p class="small-card-text"><%= @candidato.pacto.nombre %></p></td>
            </tr>
            <% if @candidato.intereses %>
              <tr>
                <td><p class="small-card-text"><b>Declaración:</b></p></td>
                <td><p class="small-card-text"><a><%= link_to @candidato.intereses %></a></p></td>
              </tr>
            <% end %>
            <% if @candidato.intereses %>
              <tr>
                <td><p class="small-card-text"><b>Enlaces:</b></p></td>
                <td><p class="small-card-text"><a><%= link_to @candidato.url %></a></p></td>
              </tr>
            <% end %>
            <% if Setting.get('show_compromiso_humanas').downcase=="true" %>
            <tr>
              <td><p class="small-card-text"><b>Compromiso <%= link_to 'Corporación Humanas:', 'http://www.humanas.cl/' %></b></p></td>
              <td><p class="small-card-text"><a><%= @candidato.c_humanas %></a></p></td>
            </tr>
            <% end %>
        </tbody>
      </table>
      </div>
      <!-- Tabla Mobile -->
      <div class="col-md-6 fondo-blanco mt-5 p-2 d-lg-none">
        <p class="card-text mb-4 pt-3"><b>Información del candidato</b></p>
      <table class="table">
        <tbody>
            <tr>
              <td><p class="small-card-text"><b>Distrito:</b> <%= @candidato.distrito.nombre %></p></td>
            </tr>
            <tr>
              <td><p class="small-card-text"><b>Circunscripción:</b> <%= @candidato.distrito.circunscripcion.nombre %></p></td>
            </tr>
            <tr>
              <td><p class="small-card-text"><b>Partido:</b> <%= @candidato.partido.nombre %></p></td>
            </tr>
            <tr>
              <td><p class="small-card-text"><b>Pacto:</b> <%= @candidato.pacto.nombre %></p></td>
            </tr>
            <tr>
              <td><p class="small-card-text"><b>Declaración:</b> <%= link_to @candidato.intereses %></p></td>
            </tr>
            <tr>
              <td><p class="small-card-text"><b>Enlaces:</b> <%= link_to @candidato.url %></p></td>
            </tr>
            <% if Setting.get('show_compromiso_humanas').downcase=="true" %>
            <tr>
              <td><p class="small-card-text"><b>Compromiso Corporación Humanas:</b> <%= @candidato.c_humanas %></p></td>
            </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
  </div>
</section>

<section class="container">
  <div class="container">
    <div class="row">
      <!-- Tabs Desktop -->
      <div class="col-12 d-none d-md-block">
        <ul class="nav nav-tabs" id="myTab" role="tablist" style="border: none; margin-bottom: 30px">
        <li class="nav-item lupa-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#limite-aportes" role="tab" aria-controls="limite-aportes" aria-selected="true">Límite de aportes</a>
        </li>
        <li class="nav-item lupa-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#aportes-tipo" role="tab" aria-controls="aportes-tipo" aria-selected="false">Aportes por tipo</a>
        </li>
        <li class="nav-item lupa-item">
          <a class="nav-link" id="datos-tab" data-toggle="tab" href="#aportantes" role="tab" aria-controls="aportantes" aria-selected="false">Aportantes</a>
        </li>
        <li class="nav-item lupa-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#otros-candidatos" role="tab" aria-controls="otros-candidatos" aria-selected="false">Otros Candidatos</a>
        </li>
      </ul>
      </div>
      <!-- Tabs Mobile -->
      <div class="col-12 d-md-none">
        <ul class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist" style="border: none; margin-bottom: 30px">
        <li class="nav-item lupa-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#limite-aportes" role="tab" aria-controls="limite-aportes" aria-selected="true">Límite de aportes</a>
        </li>
        <li class="nav-item lupa-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#aportes-tipo" role="tab" aria-controls="aportes-tipo" aria-selected="false">Aportes por tipo</a>
        </li>
        <li class="nav-item lupa-item">
          <a class="nav-link" id="datos-tab" data-toggle="tab" href="#aportantes" role="tab" aria-controls="aportantes" aria-selected="false">Aportantes</a>
        </li>
        <li class="nav-item lupa-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#otros-candidatos" role="tab" aria-controls="otros-candidatos" aria-selected="false">Otros Candidatos</a>
        </li>
      </ul>
      </div>
    </div>
    <% total_aportes = @candidato.aportes_cached.sum(:monto) %>
    <div class="row">
    <div class="col-12">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="limite-aportes" role="tabpanel" aria-labelledby="limite-aportes-tab">
        <div class="row">
            <% if total_aportes > 0 %>
            <div class="col-md-6">
              <h3 class="titulo-card mb-4 text-mobile-center">Aportes</h3>
              <table class="table">
              <tbody>
                <tr>
                  <td>
                    <p class="small-card-text">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect x="0.5" y="0.5" width="15" height="15" fill="#5E8EF9" stroke="black" stroke-width="3"/>
                    </svg>
                    <b style="position: relative; top: 2px; left: 8px"> Aportes </b></p>
                  </td>
                  <td><p class="small-card-text" style="text-align: right"></p><%= to_pesos @candidato.aportes_cached.sum(:monto).to_f%></td>
                </tr>
                <tr>
                  <td>
                    <p class="small-card-text">
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="5.8667" y="7" width="4.26669" height="2.37038" fill="#DD553D"/>
                        <rect y="7" width="4.26669" height="2.37038" fill="#DD553D"/>
                        <rect x="11.7334" y="7" width="4.26669" height="2.37038" fill="#DD553D"/>
                      </svg>
                    <b style="position: relative; top: 2px; left: 8px"> Límite </b></p>
                  </td>
                  <td><p class="small-card-text" style="text-align: right"></p><%= to_pesos @candidato.distrito.limite_gasto %></td>
                </tr>
                <tr>
                  <td><p class="small-card-text"><b>% Total</b></p></td>
                  <td><p class="small-card-text" style="text-align: right"></p><%= (100 * @candidato.aportes_cached.sum(:monto).to_f / @candidato.distrito.limite_gasto).round(2) %></td>
                </tr>
              </tbody>
              </table>
            </div>
            <div class="col-md-6">
              <div id="canvas_a"></div>
            </div>
            <% else %>
              <div class="col-md-12">
                <p> No se registran aportes </p>
              </div>
            <% end %>
        </div>
      </div>
      <div class="tab-pane fade" id="aportes-tipo" role="tabpanel" aria-labelledby="aportes-tipo-tab">
        <div class="row">
          <% if total_aportes > 0 %>
            <div class="col-md-6">
              <h3 class="titulo-card mb-4 text-mobile-center">Aportes por tipo</h3>
              <table class="table">
              <tbody>
                <% colors = ["#DD553D", "#E8CD32", "#5E8EF9", "#AA553C", "#B7CD12", "#5E5BF9"] %>
            <% @candidato.aportes_x_tipo.each_with_index do |tipo_aporte, index| %>
                <tr>
                  <td>
                    <p class="small-card-text">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect x="0.5" y="0.5" width="15" height="15" fill="<%= colors[index] %>" stroke="black" stroke-width="3"/>
                    </svg>
                    <b style="position: relative; top: 2px; left: 8px"> <%= tipo_aporte[0] %> </b></p>
                  </td>
                  <td><p class="small-card-text" style="text-align: right"></p><%= to_pesos tipo_aporte[1] %></td>
                </tr>
            <% end %>
                <tr>
                  <td><p class="small-card-text"><b>Total</b></p></td>
                  <td><p class="small-card-text" style="text-align: right"></p><%= to_pesos total_aportes %></td>
                </tr>
              </tbody>
              </table>
            </div>
            <div class="col-md-6">
              <div id="candidato_donut"></div>
            </div>
            <% else %>
              <div class="col-md-12">
                <p> No se registran aportes </p>
              </div>
            <% end %>
        </div>
      </div>
      <div class="tab-pane fade" id="aportantes" role="tabpanel" aria-labelledby="aportantes-tab">
        <div class="row">
          <div class="col-12">
            <h3 class="titulo-card mb-4 text-mobile-center">Aportantes</h3>

            <% if total_aportes > 0 %>

            <table class="table table-scroll" id="aporte_details">
              <tbody>
                <tr>
                  <th><p class="card-text"><b>Aportante</b></p></th>
                  <th><p class="card-text"><b>Monto</b></p></th>
                  <th><p class="card-text"><b>Fecha</b></p></th>
                  <th><p class="card-text"><b>Tipo de aporte</b></p></th>
                </tr>
              </tbody>
            </table>
            <p>Páginas <span id="current_page"></span> de <span id="num_pages"></span>.
              <a id="next_link" href="javascript:load_next();"><span id="next_page"> Mostrar mas datos. </span></a></p>
            <% else %>
              <p> No se registran aportes </p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="otros-candidatos" role="tabpanel" aria-labelledby="otros-candidatos-tab">
        <div class="row">
          <div class="col-md-12">
          <h3 class="titulo-card mb-4 text-mobile-center">Comparar con otros candidatos</h3>
          <div id="canvas"></div>
        </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </div>
</section>

<script>
  function create_chart() {

  var paper_2 = Raphael(document.getElementById("canvas"), 640, 340);
  var data = <%= raw @candidato.distrito.aportes_x_candidato.to_s%>;
  var maxVal = data[0][1];
  var maxHeight = 175;
  var baseLine = 195;
  var chart_width = 600;
  var numOfBars = data.length;
  var bar_width = chart_width / (2 * numOfBars + 2);
    data.forEach(function callback(currentValue, index, array) {
        currHeight = (currentValue[1] / maxVal) * maxHeight;
        var barra = paper_2.rect(50 + (2 * bar_width * (index +1)), 20 + (maxHeight - currHeight), bar_width, currHeight);
        barra.attr("title", currentValue[0] + ", " + currentValue[4] + " : $" + currentValue[5]);
        barra.attr("fill", currentValue[3]);
        barra.attr("stroke", "#000");
        barra.attr("stroke-width", "3px");
        barra.mouseover( function() {
          this.attr({ 'fill': currentValue[3] });
          this.attr({ "stroke-width": "5px" });
        });
        barra.mouseout( function() {
          this.attr({ 'fill': currentValue[3] })
          this.attr({ "stroke-width": "3px" })
        });
        barra.click( function() { window.location.href=currentValue[2] } )
        var txt = currentValue[0];
        var str = ""
        if(str.length >= 25) {
          str = txt.substring(0,25);
        }
        else {
          str = ("          " + txt).substring(0,25);
        }
        var fontSize = 12;
        if (numOfBars > 20){
          fontSize--;
          fontSize--;
        }
        if (numOfBars > 30){
          fontSize--;
        }
        if (numOfBars > 40){
          fontSize--;
        }
        // var texto_barra = paper_2.text(24 + (2 * bar_width * (index +1)),240, str).rotate(-45, true);
        var texto_barra = paper_2.text(54 + (2 * bar_width * (index +1)),240, str).rotate(-90, true);
        texto_barra.attr({ "font-size": fontSize, "font-family": "Karla", });
        texto_barra.attr("title", currentValue[0] + ", " + currentValue[4] + " : $" + currentValue[5]);
        texto_barra.click( function() { window.location.href=currentValue[2] } )

        paper_2.setViewBox(0, 0, 640, 340, false);
        paper_2.renderfix();
    });
  }

  var intersectionObserver = new IntersectionObserver(function(element) {
    if (element.intersectionRatio <= 0) return;
    create_chart();
    this.unobserve(document.getElementById("canvas"));
  });
  intersectionObserver.observe(document.getElementById("canvas"));
</script>
<script>
  function arc(center, radius, startAngle, endAngle) {
      angle = startAngle;
      coords = toCoords(center, radius, angle);
      path = "M " + coords[0] + " " + coords[1];
      while(angle<=endAngle) {
          coords = toCoords(center, radius, angle);
          path += " L " + coords[0] + " " + coords[1];
          angle += 1;
      }
      return path;
  }
  function donut_piece(center, radius, startAngle, endAngle, width) {
      angle = startAngle;
      coords = toCoords(center, radius, angle);
      path = "M " + coords[0] + " " + coords[1];
      while(angle<=endAngle) {
          coords = toCoords(center, radius, angle);
          subPath = " L " + coords[0] + " " + coords[1];
          path += subPath;
          angle += 1;
      }
      angle = endAngle;
      coords = toCoords(center, radius+width, endAngle);
      path += " L " + coords[0] + " " + coords[1];
      while(angle>=startAngle) {
          coords = toCoords(center, radius+width, angle);
          path += " L " + coords[0] + " " + coords[1];
          angle -= 1;
      }
      path += " Z"
      return path;
  }

  function toCoords(center, radius, angle) {
      var radians = (angle/180) * Math.PI;
      var x = center[0] + Math.cos(radians) * radius;
      var y = center[1] + Math.sin(radians) * radius;
      return [x, y];
  }

  function create_donut_chart() {
    var paper_2 = Raphael(document.getElementById("candidato_donut"), 340, 340);
    var data = <%= raw @candidato.aportes_x_tipo.to_s%>;
    var colors = ["#DD553D", "#E8CD32", "#5E8EF9", "#AA553C", "#B7CD12", "#5E5BF9"];
    // console.log(data);
    var sum = 0;

    data.forEach(function callback(currentValue, index, array) {
        sum += currentValue[1]
    });
    console.log(sum);
    var start_deg = 0;
    data.forEach(function callback(currentValue, index, array) {
      var percent = ((currentValue[1] / sum).toFixed(3)*100).toFixed(1);
      var degrees = (3.6 * percent).toFixed(0);
      // console.log(percent.toString() +"% " + degrees.toString() + "°, start :" + start_deg.toString() + "°, en :" + (parseInt(start_deg) + parseInt(degrees)).toString()  );
      data[index].percent=percent
      if (index > 0 && index == data.length-1){
        degrees = 360 - start_deg
      }
      data[index].degrees=degrees
      var donut_width = 60;
      var path = paper_2.path(donut_piece([150, 150], 80, start_deg, (parseInt(start_deg) + parseInt(degrees)), donut_width));
      path.attr("title", currentValue[0] + " : " + percent + "%");
      path.attr("fill", colors[index]);
      path.attr("stroke", "#000");
      path.mouseover( function() {
        // this.attr({ 'fill': "#5E8EF9" });
        this.attr({ "stroke-width": "5px" });
      });
      path.mouseout( function() {
        // this.attr({ 'fill': "#DD553D" })
        this.attr({ "stroke-width": "3px" })
      });
      start_deg += parseInt(degrees)
    });
    paper_2.setViewBox(0, 0, 340, 340, false);
    paper_2.renderfix();
  }

  var intersectionObserver = new IntersectionObserver(function(element) {
    if (element.intersectionRatio <= 0) return;
    create_donut_chart();

    this.unobserve(document.getElementById("candidato_donut"));
  });
  // start observing
  intersectionObserver.observe(document.getElementById("candidato_donut"));

</script>
<script>

  var paper = Raphael(document.getElementById("canvas_a"), 250, 200);

  var axis = paper.path("M80,195L80,195L319,195")
  axis.attr("stroke", "#000");
  axis.attr("stroke-width", "4px");

  var limit_12 = paper.path("M80,62L80,62L362,62");
  limit_12.attr("stroke", "#F1F1F1");
  limit_12.attr("stroke-dasharray", "--");
  var limit_2 = paper.path("M80,106L80,106L319,106");
  limit_2.attr("stroke", "#F1F1F1");
  limit_2.attr("stroke-dasharray", "--");
  var limit_22 = paper.path("M80,147L80,147L319,147");
  limit_22.attr("stroke", "#F1F1F1");
  limit_22.attr("stroke-dasharray", "--");



  var altura = 175 * <%= @candidato.aportes_cached.sum(:monto).to_f / @candidato.distrito.limite_gasto %>;
  var barra = paper.rect(135,195 - altura, 60, altura)
  barra.attr("fill", "#5E8EF9");
  barra.attr("stroke", "#000");
  barra.attr("stroke-width", "3px");

  var percent = <%= (100 * @candidato.aportes_cached.sum(:monto).to_f / @candidato.distrito.limite_gasto).round(0)  %>;
  var altura_etiq = 100;
  if (percent >= 50){
    altura_etiq = 130;
  } else {
    altura_etiq = 100;
  }

  var texto = paper.text(165,altura_etiq,percent+ "%");
  texto.attr({ "font-size": 20, "font-family": "Space Grotesk", "font-weight":"bold"});
  var texto_1 = paper.text(60,20,<%= (@candidato.distrito.limite_gasto/1000000).round(0)  %>)
  texto_1.attr({ "font-size": 14, "font-family": "Karla", "font-weight":"bold" });

  var texto_12 = paper.text(60,62,<%= (@candidato.distrito.limite_gasto/1000000).round(0)*0.75  %>);
  texto_12.attr({ "font-size": 14, "font-family": "Karla", "font-weight":"bold" });


  var texto_2 = paper.text(60,105,<%= (@candidato.distrito.limite_gasto/1000000).round(0)/2  %>)
  texto_2.attr({ "font-size": 14, "font-family": "Karla", "font-weight":"bold" });

  var texto_22 = paper.text(60,147,<%= (@candidato.distrito.limite_gasto/1000000).round(0)*0.25  %>)
  texto_22.attr({ "font-size": 14, "font-family": "Karla", "font-weight":"bold" });

  var texto_3 = paper.text(60,190,"0")
  texto_3.attr({ "font-size": 14, "font-family": "Karla", "font-weight":"bold" });

  var texto_3 = paper.text(20,100,"Cantidad en millones").rotate(-90, true);
  texto_3.attr({ "font-size": 12, "font-family": "Karla", "font-weight":"bold" });

  var limit = paper.path("M80,19L80,19L319,19")
  limit.attr("stroke", "#DD553D");
  limit.attr("stroke-dasharray", "--");

  var limit = paper.path("M80,21L80,21L319,21")
  limit.attr("stroke", "#DD553D");
  limit.attr("stroke-dasharray", "--");

  var limit = paper.path("M80,20L80,20L319,20")
  limit.attr("stroke", "#DD553D");
  limit.attr("stroke-dasharray", "--");
  // limit.attr("stroke-width", "2px");
  // var x_axis = paper.rect(20,199,319,1)
  // x_axis.attr("stroke", "#000");

  // // Creates circle at x = 50, y = 40, with radius 10
  // var circle = paper.circle(50, 40, 10);
  // // Sets the fill attribute of the circle to red (#f00)
  // circle.attr("fill", "#f00");
  //
  // // Sets the stroke attribute of the circle to white
  // circle.attr("stroke", "#000");
  paper.setViewBox(0, 0, 250, 200, false);
  paper.renderfix();

</script>
<script type="text/javascript">
    async function fetchAportesJSON(candidato_id) {
      const response = await fetch('/aportes_candidato/' + candidato_id);
      const json_data = await response.json();
      return json_data;
    }

    var pages = [];

    function load_page(pages, page_num) {
      pages[page_num].forEach((element) => {
          // console.log(element);
          const table = document.querySelector("#aporte_details tbody");
          var tbodyRef = document.getElementById('aporte_details').getElementsByTagName('tbody')[0];

          // Insert a row at the end of table
          var newRow = tbodyRef.insertRow();

          // Insert a cell at the end of the row
          var newCell = newRow.insertCell();
          // newCell.appendChild(document.createTextNode(element.aportante.nombre));
          a = document.createElement('a');
          a.setAttribute('href', '/aportante/' + element.aportante.id);
          a.appendChild(document.createTextNode(element.aportante.nombre));
          a.setAttribute('class', 'lupa-table-link')
          // newCell.appendChild(document.createTextNode('<a class="lupa-table-link" href="/aportante/' +element.aportante.id + '">' + element.aportante.nombre + '</a>'));
          newCell.appendChild(a);

          // Insert a cell at the end of the row
          var newCell = newRow.insertCell();
          newCell.appendChild(document.createTextNode(element.monto));
          // Insert a cell at the end of the row
          var newCell = newRow.insertCell();
          newCell.appendChild(document.createTextNode(element.fecha));
          // Insert a cell at the end of the row
          var newCell = newRow.insertCell();
          newCell.appendChild(document.createTextNode(element.tipo));
          document.getElementById('current_page').innerHTML = page_num + 1
          if (page_num + 1 == pages.length){
            document.getElementById('next_page').innerHTML = ""
          }
      });

    }

    fetchAportesJSON(<%= @candidato.id %>).then(json_data => {
      // console.log(json_data);
      var size = 10;
      // var pages = [];
      for (var i=0; i<json_data.length; i+=size) {
           pages.push(json_data.slice(i,i+size));
      }
      numOfPages = pages.length
      // console.log(numOfPages);
      load_page(pages, 0)

      document.getElementById('num_pages').innerHTML = numOfPages
      // console.log("queto " + document.getElementById('next_page').innerHTML)
    });

    function load_next() {
      // console.log("load_next")
      current = parseInt(document.getElementById('current_page').innerHTML)
      load_page(pages, current)
      // console.log("----")
      // console.log(current)
      // console.log(pages.length)
      // if (current + 1 == pages.length){
      //   document.getElementById('next_page').innerHTML = ""
      // }
      return
    }
</script>
