<!-- Styles -->
<style>
#canvas {
  width: 100%;
  height: 500px;
}
</style>

<script src="https://dmitrybaranovskiy.github.io/raphael/raphael.js"></script>



<script>
// var paper = Raphael("canvas", 640, 480)
// Creates canvas 320 × 200 at 10, 50
var paper = Raphael(document.getElementById("canvas"), 320, 200);

var y_axis = paper.rect(20,1,1,199)
y_axis.attr("stroke", "#000");

var x_axis = paper.rect(20,199,319,1)
x_axis.attr("stroke", "#000");

// // Creates circle at x = 50, y = 40, with radius 10
// var circle = paper.circle(50, 40, 10);
// // Sets the fill attribute of the circle to red (#f00)
// circle.attr("fill", "#f00");
//
// // Sets the stroke attribute of the circle to white
// circle.attr("stroke", "#000");
</script>
