<section class="container-fluid fondo-crema pb-5">
  <div class="container">
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumbs">
          <li class="breadcrumb-item"><a class="color-texto" href="<%= root_path %>">Inicio</a></li>
          <li class="breadcrumb-item"><a class="color-texto" href="<%= lupa_index_path %>">Lupa Electoral</a></li>
          <li class="breadcrumb-item" aria-current="page"><%= @comuna.nombre %></li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h5 class="titulo-card mt-5">Comuna de</h5>
      <h1 class="titulo mb-3"><%= @comuna.nombre %></h1>
    </div>
    <!-- Tabla Desktop -->
    <div class="col-md-4 fondo-blanco mt-5 p-4 d-none d-md-block">
      <p class="card-text mb-4"><b>Información de la comuna</b></p>
      <table class="table">
        <tbody>
            <tr>
              <td><p class="small-card-text"><b>Distrito:</b></p></td>
              <td><p class="small-card-text"><%= @comuna.distrito.nombre %></p></td>
            </tr>
            <tr>
              <td><p class="small-card-text"><b>Circunscripción:</b></p></td>
              <td><p class="small-card-text"><%= @comuna.distrito.circunscripcion.nombre %></p></td>
            </tr>
            <tr>
              <td><p class="small-card-text"><b>Provincia:</b></p></td>
              <td><p class="small-card-text"><%= @comuna.provincia.nombre %></p></td>
            </tr>
            <tr>
              <td><p class="small-card-text"><b>Región:</b></p></td>
              <td><p class="small-card-text"><%= @comuna.provincia.region.nombre %></p></td>
            </tr>
        </tbody>
      </table>
      </div>
      <!-- Tabla Mobile -->
      <div class="col-md-4 fondo-blanco mt-5 p-2 d-md-none">
        <p class="card-text mb-4 pt-3"><b>Información de la comuna</b></p>
      <table class="table">
        <tbody>
            <tr>
              <td><p class="small-card-text"><b>Distrito:</b> <%= @comuna.distrito.nombre %></p></td>
            </tr>
            <tr>
              <td><p class="small-card-text"><b>Circunscripción:</b> <%= @comuna.distrito.circunscripcion.nombre %></p></td>
            </tr>
            <tr>
              <td><p class="small-card-text"><b>Provincia:</b> <%= @comuna.provincia.nombre %></p></td>
            </tr>
            <tr>
              <td><p class="small-card-text"><b>Región:</b> <%= @comuna.provincia.region.nombre %></p></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
</section>


<section class="container">
  <div class="container">
    <div class="row">
      <!-- Tabs Desktop -->
      <div class="col-12 d-none d-md-block">
      <ul class="nav nav-tabs" id="myTab" role="tablist" style="border: none; margin-bottom: 30px">
        <li class="nav-item lupa-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#lugares" role="tab" aria-controls="lugares" aria-selected="true">Lugares</a>
        </li>
        <li class="nav-item lupa-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#candidatos" role="tab" aria-controls="candidatos" aria-selected="false">Candidatos</a>
        </li>
      </ul>
      </div>
      <!-- Tabs Mobile -->
      <div class="col-12 d-md-none">
      <ul class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist" style="border: none; margin-bottom: 30px">
        <li class="nav-item lupa-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#lugares" role="tab" aria-controls="lugares" aria-selected="true">Lugares</a>
        </li>
        <li class="nav-item lupa-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#candidatos" role="tab" aria-controls="candidatos" aria-selected="false">Candidatos</a>
        </li>
      </ul>
      </div>
    </div>
    <div class="row">
    <div class="col-12">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="lugares" role="tabpanel" aria-labelledby="lugares-tab">
        <div class="row">
          <div class="col-md-4">
              <h3 class="titulo-card mb-4 text-mobile-center">Lugares</h3>
              <table class="table">
              <tbody>
              <% @comuna.lugars.each do |lugar| %>
                <tr>
                  <td><p class="small-card-text"><%= image_tag "location.svg", class: "location-lupa" %> <%= lugar.nombre %></p></td>
                </tr>
               <% end %>
               </tbody>
             </table>
          </div>
          <div class="col-md-8">
              <div id="mapid"></div>
              <script>

                function onEachFeature(feature, layer) {
                    // does this feature have a property named popupContent?
                    if (feature.properties && feature.properties.popupContent) {
                        layer.bindPopup(feature.properties.popupContent);
                    }
                }
              	var mymap = L.map('mapid').setView([<%= @comuna.latitud %>, <%= @comuna.longitud %>], 14);
                L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                  attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                  maxZoom: 18,
                  id: 'mapbox/satellite-streets-v11',
                  tileSize: 512,
                  zoomOffset: -1,
                  accessToken: 'pk.eyJ1Ijoiam9yZGljb250ZXh0byIsImEiOiJja2Z1M3V2NWYwanl4MnFxZnVuZ2kxZGY1In0.KXED6ZGDowyYKM2bw8g0PQ'
                }).addTo(mymap);
                <% @comuna.lugars.each_with_index do |lugar, index|  %>
                    var geojsonFeature_<%= index%> = {
                      "type": "Feature",
                      "properties": {
                          "name": "<%= lugar.nombre%>",
                          "amenity": "<%= lugar.nombre%>",
                          "popupContent": "<%= lugar.nombre%>"
                      },
                      "geometry": {
                          "type": "Point",
                          "coordinates": [<%= lugar.longitud%>, <%= lugar.latitud%>]
                      }
                    };
                    var myStyle = {
                        "color": "#ff7800",
                        "weight": 5,
                        "opacity": 0.65
                    };
                    console.log(geojsonFeature_<%= index%>)
                    L.geoJSON(geojsonFeature_<%= index%>, {
                        onEachFeature: onEachFeature
                    }).addTo(mymap);
                    // L.geoJSON(geojsonFeature_<%= index%>, {
                    //     style: myStyle
                    // }).addTo(mymap);
                <% end  %>
                // mymap.addLayer(marcadores);
              </script>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="candidatos" role="tabpanel" aria-labelledby="candidatos-tab">
        <div class="row">
          <div class="col-12">
            <% candidatos = Candidato.where(distrito: @comuna.distrito) %>
            <h3 class="titulo-card mb-4 text-mobile-center">Candidatos de <%= @comuna.nombre + "(" + candidatos.count.to_s + ")"%>
            </h3>
            <table class="table">
            <tbody>
              <tr>
                <th><p class="card-text"><b>Candidato</b></p></th>
                <th><p class="card-text"><b>Pacto</b></p></th>
                <th><p class="card-text"><b>Partido</b></p></th>
                <th><p class="small-card-text"><b>Detalles</b></p></th>
              </tr>
            <% candidatos.each do |candidato| %>
              <tr>
                <td><p class="small-card-text"><%= link_to candidato.nombre, candidato_path(candidato), :class => 'lupa-table-link' %></td>
                <td><p class="small-card-text"><%= candidato.pacto %></p></td>
                <td><p class="small-card-text"><%= candidato.partido.nombre %></p></td>
                <td>
                  <p class="small-card-text"><%= link_to 'Ver más', candidato_path(candidato), :class => 'lupa-table-link' %>
                  <%= image_tag "flecha-vol-derecha.svg", class: "arrow-lupa" %></p>
                </td>
              </tr>
             <% end %>
             </tbody>
           </table>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </div>
</section>
