<section class="container-fluid fondo-crema pb-5">
  <div class="container">
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumbs">
          <li class="breadcrumb-item"><a class="color-texto" href="<%= root_path %>">Inicio</a></li>
          <li class="breadcrumb-item"><a class="color-texto" href="<%= lupa_index_path %>">Lupa Electoral</a></li>
          <li class="breadcrumb-item" aria-current="page">Denuncias</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h1 class="titulo mt-5 mb-3">Denuncias</h1>
      <p>Aquí encontrarás información actualizada sobre las denuncias recibidas por infracciones a las nuevas reglas y las sanciones impuestas.</p>
    </div>
    <div class="col-md-3 offset-md-1 text-center fondo-blanco mt-5 p-4">
      <%= image_tag "activate.svg", class: "report-lupa" %>
      <p class="card-text"><b>Si conoces alguna infracción a las nuevas reglas, puedes denunciar ante el Servel <%= link_to "aquí.", 'https://denuncias.servel.cl/inicio.xhtml' %> </b></p>
    </div>
  </div>
  </div>
</section>

<section class="container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="titulo-card text-center mb-4">10 Tipos de denuncia más reportados </h3>
        <div id="canvas_1"></div>
      </div>
      <!-- <div class="col-md-6"> -->
         <!-- column_chart  InfoDenuncium.chart_mas_denuncias(10), colors: ["#5E8EF9"] %> -->
        <!-- <div id="canvas_2"></div> -->
      <!-- </div> -->
    </div>
    <div class="row">
      <div class="col-12">
          <table class="table table-scroll">
          <tbody>
            <tr>
              <th><p class="card-text"><b>Tipo de Denuncia</b></p></th>
              <th><p class="card-text"><b>En análisis</b></p></th>
              <th><p class="card-text"><b>Admisibles</b></p></th>
              <th><p class="card-text"><b>Inadmisibles</b></p></th>
              <th><p class="card-text"><b>Total</b></p></th>
            </tr>
            <% @denuncias.denuncias_cached.each do |denuncia| %>
            <tr>
              <td><p class="small-card-text"><%= denuncia.descripcion %></p></td>
              <td><p class="small-card-text"><%= denuncia.en_analisis %></p></td>
              <td><p class="small-card-text"><%= denuncia.admisibles %></p></td>
              <td><p class="small-card-text"><%= denuncia.inadmisibles %></p></td>
              <td><p class="small-card-text"><%= denuncia.inadmisibles + denuncia.admisibles + denuncia.en_analisis %></p></td>
            </tr>
            <% end %>
          </tbody>
          </table>
      </div>
    </div>
  </div>
</section>
<script>

  var data = <%= raw InfoDenuncium.chart_mas_denuncias(10).to_s%>;
  var maxVal = data[0][1];
  var maxHeight = 175;
  var baseLine = 195;
  var width = 20;

  var paper = Raphael(document.getElementById("canvas_1"), 480, 350);

  var limit_12 = paper.path("M80,62L80,62L480,62");
  limit_12.attr("stroke", "#999");
  limit_12.attr("stroke-dasharray", "--");
  var limit_2 = paper.path("M80,106L80,106L480,106");
  limit_2.attr("stroke", "#999");
  limit_2.attr("stroke-dasharray", "--");
  var limit_22 = paper.path("M80,147L80,147L480,147");
  limit_22.attr("stroke", "#999");
  limit_22.attr("stroke-dasharray", "--");
  var limit = paper.path("M80,20L80,20L480,20")
  limit.attr("stroke", "#999");
  limit.attr("stroke-dasharray", "--");

  var texto_1 = paper.text(60,20,maxVal )
  texto_1.attr({ "font-size": 14, "font-family": "Karla", "font-weight":"bold" });

  var texto_12 = paper.text(60,62,Math.round(maxVal*0.75 ));
  texto_12.attr({ "font-size": 14, "font-family": "Karla", "font-weight":"bold" });

  var texto_2 = paper.text(60,105,Math.round(maxVal/2 ))
  texto_2.attr({ "font-size": 14, "font-family": "Karla", "font-weight":"bold" });

  var texto_22 = paper.text(60,147,Math.round(maxVal*0.25 ))
  texto_22.attr({ "font-size": 14, "font-family": "Karla", "font-weight":"bold" });

  var texto_3 = paper.text(60,190,"0")
  texto_3.attr({ "font-size": 14, "font-family": "Karla", "font-weight":"bold" });

  var texto_3 = paper.text(20,100,"Denuncias por Tipo").rotate(-90, true);
  texto_3.attr({ "font-size": 12, "font-family": "Karla", "font-weight":"bold" });

  data.forEach(function callback(currentValue, index, array) {
    currHeight = (currentValue[1] / maxVal) * maxHeight;
    var barra = paper.rect(50 + (2 * width * (index +1)), 20 + (maxHeight - currHeight), width, currHeight);
    barra.attr("title", currentValue[0] + " : " + currentValue[1]);
    barra.attr("fill", "#5E8EF9");
    barra.attr("stroke", "#000");
    barra.attr("stroke-width", "3px");
    barra.mouseover( function() {
      this.attr({ 'fill': "#DD553D" });
      this.attr({ "stroke-width": "4px" });
    });
    barra.mouseout( function()  {
      this.attr({ 'fill': "#5E8EF9" })
      this.attr({ "stroke-width": "3px" })
    });
    // barra.click( function() { window.location.href="http://localhost:3000/lupa/index" } )
    var txt = currentValue[0];
    var str = ""
    if(str.length >= 25) {
      str = txt.substring(0,25);
    }
    else {
      str = ("          " + txt).substring(0,25);
    }
    var texto_barra = paper.text(27 + (2 * width * (index +1)),250, str).rotate(-45, true);
    texto_barra.attr({ "font-size": 12, "font-family": "Karla", "font-weight":"bold" });
  });

  var axis = paper.path("M80,195L80,195L480,195")
  axis.attr("stroke", "#000");
  axis.attr("stroke-width", "4px");

  var c_height = document.getElementById("canvas_1").parentElement.clientHeight;
  var c_width = document.getElementById("canvas_1").parentElement.clientWidth;
  console.log(c_height, c_width)
  // console.log(document.getElementById("canvas_1").style)

  // paper.setViewBox(0, 0, windowWidth, windowHeight, true);
  // paper.setViewBox(0, 0, c_width, c_height, true);
  paper.setViewBox(0, 0, 480, 350, true);

</script>
<script>
  function arc(center, radius, startAngle, endAngle) {
      angle = startAngle;
      coords = toCoords(center, radius, angle);
      path = "M " + coords[0] + " " + coords[1];
      while(angle<=endAngle) {
          coords = toCoords(center, radius, angle);
          path += " L " + coords[0] + " " + coords[1];
          angle += 1;
      }
      return path;
  }
  function donut_piece(center, radius, startAngle, endAngle, width) {
      angle = startAngle;
      coords = toCoords(center, radius, angle);
      path = "M " + coords[0] + " " + coords[1];
      while(angle<=endAngle) {
          coords = toCoords(center, radius, angle);
          subPath = " L " + coords[0] + " " + coords[1];
          path += subPath;
          angle += 1;
      }
      angle = endAngle;
      coords = toCoords(center, radius+width, endAngle);
      path += " L " + coords[0] + " " + coords[1];
      while(angle>=startAngle) {
          coords = toCoords(center, radius+width, angle);
          path += " L " + coords[0] + " " + coords[1];
          angle -= 1;
      }
      path += " Z"
      return path;
  }

  function toCoords(center, radius, angle) {
      var radians = (angle/180) * Math.PI;
      var x = center[0] + Math.cos(radians) * radius;
      var y = center[1] + Math.sin(radians) * radius;
      return [x, y];
  }

  // function create_donut_chart() {
    var paper_2 = Raphael(document.getElementById("canvas_2"), 640, 340);
    var data = <%= raw InfoDenuncium.denuncias_x_tipo.to_s%>;
    var colors = ["#DD553D", "#E8CD32", "#5E8EF9", "#AA553C", "#B7CD12", "#5E5BF9", "#DD553D", "#E8CD32", "#5E8EF9", "#AA553C", "#B7CD12", "#5E5BF9", "#DD553D", "#E8CD32", "#5E8EF9", "#AA553C", "#B7CD12", "#5E5BF9", "#DD553D", "#E8CD32", "#5E8EF9", "#AA553C", "#B7CD12", "#5E5BF9"];
    // console.log(data);
    var sum = 0;

    data.forEach(function callback(currentValue, index, array) {
        sum += currentValue[1]
    });
    console.log(sum);
    var start_deg = 0;
    data.forEach(function callback(currentValue, index, array) {
      var percent = ((currentValue[1] / sum).toFixed(3)*100).toFixed(1);
      var degrees = (3.6 * percent).toFixed(0);
      // console.log(percent.toString() +"% " + degrees.toString() + "°, start :" + start_deg.toString() + "°, en :" + (parseInt(start_deg) + parseInt(degrees)).toString()  );
      data[index].percent=percent
      if (index > 0 && index == data.length-1){
        degrees = 360 - start_deg
      }
      data[index].degrees=degrees
      var donut_width = 60;
      var path = paper_2.path(donut_piece([150, 150], 80, start_deg, (parseInt(start_deg) + parseInt(degrees)), donut_width));
      path.attr("title", currentValue[0] + " : " + percent + "%");
      path.attr("fill", colors[index]);
      path.attr("stroke", "#000");
      path.mouseover( function() {
        // this.attr({ 'fill': "#5E8EF9" });
        this.attr({ "stroke-width": "3px" });
      });
      path.mouseout( function() {
        // this.attr({ 'fill': "#DD553D" })
        this.attr({ "stroke-width": "1px" })
      });
      start_deg += parseInt(degrees)
    });
  // }

</script>
