<section class="container-fluid fondo-crema pb-5">
  <div class="container">
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumbs">
          <li class="breadcrumb-item"><a class="color-texto" href="<%= root_path %>">Inicio</a></li>
          <li class="breadcrumb-item"><a class="color-texto" href="<%= lupa_index_path %>">Lupa Electoral</a></li>
          <li class="breadcrumb-item" aria-current="page">Descarga de datos</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h5 class="titulo-card mt-5">Descarga</h5>
      <h1 class="titulo mb-3">Datos de financiamiento de candidaturas</h1>
    </div>
  </div>
  </div>
</section>

<section class="container">
  <div class="container">
    <div class="row">
    </div>
        <div class="row">
          <% @ficheros.each_with_index do |fichero, index| %>
          <div class="col-md-6 col-lg-4">

              <%= link_to rails_blob_path(fichero.fichero) do | l|%>
              <div class="card-hover card-border mb-3">
                <div class="card-body" style="height: 180px">
                  <h5 class="titulo-card">
                    <%= fichero.fichero.filename %>
                  </h5>
                </div>
                <div class="card-footer d-flex justify-content-end card-btn-container" style="background-color: white; border-top: none">
                    <p class="mb-0 mr-2">Descargar
                    <%= image_tag "doc-amarillo.svg", class: "download-lupa" %>
                    <%= number_to_human_size fichero.fichero.byte_size %> </p>
                </div>
              </div>
              <% end %>

          </div>
          <% end %>
        </div>
  </div>
</section>
