<!-- inicio sección lupa -->
    <section class="container-fluid fondo-azul pb-5">
      <div class="container">
      <div class="row">
        <div class="col-12">

          <nav aria-label="breadcrumb">
            <ol class="breadcrumbs">
              <li class="breadcrumb-item"><a class="color-texto" href="<%= root_path %>">Inicio</a></li>
              <li class="breadcrumb-item" aria-current="page">Lupa Electoral</li>
            </ol>
          </nav>

          <h1 class="titulo mt-5 mb-4">Lupa Electoral</h1>
          <p class="resumen"></p>
        </div>

        <div class="col-md-12 pt-5">
          <ul class="text-left">
              <%= social_share_button_tag(Setting.get('shared_message'), :url => url_for(:controller => 'lupa', :action => 'index', :only_path => false)) %>
          </ul>
        </div>
      </div>
      </div>
    </section>
<section class="container">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="titulo-card mb-4 text-mobile-center"> <%= Setting.get('lupa_heading_text')  %> </h3>
        <%= render 'lupa/lupa_search_header' %>
        <div id="lupa-results">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3 class="titulo-card mb-4 text-mobile-center"> Candidatos con más aportes </h3>
        <% datos =   Candidato.chart_mas_aportes(10) %>
        <div class="lupa_chart ranking_chart">
           <!-- column_chart  datos, colors: ["#DD553D"]  -->
          <div id="canvas_1"></div>
        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="titulo-card mb-4 text-mobile-center"> Mayores aportantes </h3>
        <% datos =   Aportante.chart_mas_aportes(10) %>
        <div class="lupa_chart ranking_chart">
          <!-- column_chart  datos, colors: ["#E8CD32"]  -->
         <div id="canvas_2"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>

    data = <%= raw Candidato.chart_mas_aportes(10).to_s%>;
    maxVal = data[0][1];
    maxHeight = 175;
    baseLine = 195;
    width = 20;

    var paper = Raphael(document.getElementById("canvas_1"), 480, 350);

    var colors_x_pacto = ["#111111", "#222222", "#333333", "#444444", "#555555", "#666666", "#777777", "#888888", "#999999", "#AAAAAA", "#BBBBBB", "#CCCCCC", "#DDDDDD"]

    var limit_12 = paper.path("M80,62L80,62L480,62");
    limit_12.attr("stroke", "#999");
    limit_12.attr("stroke-dasharray", "--");
    var limit_2 = paper.path("M80,106L80,106L480,106");
    limit_2.attr("stroke", "#999");
    limit_2.attr("stroke-dasharray", "--");
    var limit_22 = paper.path("M80,147L80,147L480,147");
    limit_22.attr("stroke", "#999");
    limit_22.attr("stroke-dasharray", "--");
    var limit = paper.path("M80,20L80,20L480,20")
    limit.attr("stroke", "#999");
    limit.attr("stroke-dasharray", "--");

    var texto_1 = paper.text(60,20,Math.round(maxVal) )
    texto_1.attr({ "font-size": 14, "font-family": "Karla", "font-weight":"bold" });

    var texto_12 = paper.text(60,62,Math.round(maxVal*0.75 ));
    texto_12.attr({ "font-size": 14, "font-family": "Karla", "font-weight":"bold" });

    var texto_2 = paper.text(60,105,Math.round(maxVal/2 ))
    texto_2.attr({ "font-size": 14, "font-family": "Karla", "font-weight":"bold" });

    var texto_22 = paper.text(60,147,Math.round(maxVal*0.25 ))
    texto_22.attr({ "font-size": 14, "font-family": "Karla", "font-weight":"bold" });

    var texto_3 = paper.text(60,190,"0")
    texto_3.attr({ "font-size": 14, "font-family": "Karla", "font-weight":"bold" });

    var texto_3 = paper.text(35,100,"Millones de Pesos").rotate(-90, true);
    texto_3.attr({ "font-size": 12, "font-family": "Karla", "font-weight":"bold" });

    data.forEach(function callback(currentValue, index, array) {
      currHeight = (currentValue[1] / maxVal) * maxHeight;
      var barra = paper.rect(50 + (2 * width * (index +1)), 20 + (maxHeight - currHeight), width, currHeight);
      barra.attr("title", currentValue[0] + ", " + currentValue[4] + " : $" + currentValue[5]);
      barra.attr("fill", currentValue[3]);
      barra.attr("stroke", "#000");
      barra.attr("stroke-width", "3px");
      barra.mouseover( function() {
        // this.attr({ 'fill': currentValue[3] });
        this.attr({ 'fill': "#FFFFFF" });
        this.attr({ "stroke-width": "14px" });
      });
      barra.mouseout( function() {
        this.attr({ 'fill': currentValue[3] })
        this.attr({ "stroke-width": "3px" })
      });
      barra.click( function() { window.location.href=currentValue[2] } )
      var txt = currentValue[0];
      var str = ""
      if(str.length >= 25) {
        str = txt.substring(0,25);
      }
      else {
        str = ("          " + txt).substring(0,25);
      }
      var texto_barra = paper.text(27 + (2 * width * (index +1)),250, str).rotate(-45, true);
      texto_barra.attr({ "font-size": 12, "font-family": "Karla", "font-weight":"bold" });
      texto_barra.click( function() { window.location.href=currentValue[2] } )
      texto_barra.attr("title", currentValue[0] + ", " + currentValue[4] + " : $" + currentValue[5]);
    });

    var axis = paper.path("M80,195L80,195L480,195")
    axis.attr("stroke", "#000");
    axis.attr("stroke-width", "4px");


    var c_height = document.getElementById("canvas_1").parentElement.clientHeight;
    var c_width = document.getElementById("canvas_1").parentElement.clientWidth;
    console.log(c_height, c_width)
    // console.log(document.getElementById("canvas_1").style)

    // paper.setViewBox(0, 0, windowWidth, windowHeight, true);
    // paper.setViewBox(0, 0, c_width, c_height, true);
    paper.setViewBox(0, 0, 480, 350, false);
    paper.renderfix();
</script>
<script>

  data = <%= raw Aportante.chart_mas_aportes(10).to_s%>;
  maxVal = data[0][1];
  maxHeight = 175;
  baseLine = 195;
  width = 20;

  var paper = Raphael(document.getElementById("canvas_2"), 480, 350);

  var limit_12 = paper.path("M80,62L80,62L480,62");
  limit_12.attr("stroke", "#999");
  limit_12.attr("stroke-dasharray", "--");
  var limit_2 = paper.path("M80,106L80,106L480,106");
  limit_2.attr("stroke", "#999");
  limit_2.attr("stroke-dasharray", "--");
  var limit_22 = paper.path("M80,147L80,147L480,147");
  limit_22.attr("stroke", "#999");
  limit_22.attr("stroke-dasharray", "--");
  var limit = paper.path("M80,20L80,20L480,20")
  limit.attr("stroke", "#999");
  limit.attr("stroke-dasharray", "--");

  var texto_1 = paper.text(60,20,Math.round(maxVal) )
  texto_1.attr({ "font-size": 14, "font-family": "Karla", "font-weight":"bold" });

  var texto_12 = paper.text(60,62,Math.round(maxVal*0.75 ));
  texto_12.attr({ "font-size": 14, "font-family": "Karla", "font-weight":"bold" });

  var texto_2 = paper.text(60,105,Math.round(maxVal/2 ))
  texto_2.attr({ "font-size": 14, "font-family": "Karla", "font-weight":"bold" });

  var texto_22 = paper.text(60,147,Math.round(maxVal*0.25 ))
  texto_22.attr({ "font-size": 14, "font-family": "Karla", "font-weight":"bold" });

  var texto_3 = paper.text(60,190,"0")
  texto_3.attr({ "font-size": 14, "font-family": "Karla", "font-weight":"bold" });

  var texto_3 = paper.text(35,100,"Millones de Pesos").rotate(-90, true);
  texto_3.attr({ "font-size": 12, "font-family": "Karla", "font-weight":"bold" });

  data.forEach(function callback(currentValue, index, array) {
    currHeight = (currentValue[1] / maxVal) * maxHeight;
    var barra = paper.rect(50 + (2 * width * (index +1)), 20 + (maxHeight - currHeight), width, currHeight);
    barra.attr("title", currentValue[0] + " : " + currentValue[1]);
    barra.attr("fill", "#E8CD32");
    barra.attr("stroke", "#000");
    barra.attr("stroke-width", "3px");
    barra.mouseover( function() {
      this.attr({ 'fill': "#5E8EF9" });
      this.attr({ "stroke-width": "4px" });
    });
    barra.mouseout( function() {
      this.attr({ 'fill': "#E8CD32" })
      this.attr({ "stroke-width": "3px" })
    });
    barra.click( function() { window.location.href=currentValue[2] } )
    var txt = currentValue[0];
    var str = ""
    if(str.length >= 25) {
      str = txt.substring(0,25);
    }
    else {
      str = ("          " + txt).substring(0,25);
    }
    var texto_barra = paper.text(27 + (2 * width * (index +1)),250, str).rotate(-45, true);
    texto_barra.attr({ "font-size": 12, "font-family": "Karla", "font-weight":"bold" });
    texto_barra.click( function() { window.location.href=currentValue[2] } )
    texto_barra.attr("title", currentValue[0] + " : " + currentValue[1]);
  });

  var axis = paper.path("M80,195L80,195L480,195")
  axis.attr("stroke", "#000");
  axis.attr("stroke-width", "4px");
  paper.setViewBox(0, 0, 480, 350, true);
  paper.renderfix();
</script>
