<div id="lupa-results">
  <div class="row">
    <!-- Tabs Desktop -->
    <div class="col-12 d-none d-md-block">
      <h3 class="titulo-card" style="margin: 30px 0"><%= @results.size.to_s + " resultados en total" %></h3>
      <ul class="nav nav-tabs" id="myTab" role="tablist" style="border: none; margin-bottom: 30px">
        <li class="nav-item lupa-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#candidatos" role="tab" aria-controls="Candidatos" aria-selected="true"><%= @candidatos.size.to_s + " candidato(s)" %></a>
        </li>
        <li class="nav-item lupa-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#comunas" role="tab" aria-controls="comunas" aria-selected="false">  <%= @comunas.size.to_s + " comuna(s)" %></a>
        </li>
        <li class="nav-item lupa-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#aportantes" role="tab" aria-controls="aportantes" aria-selected="false"><%= @aportantes.size.to_s + " aportante(s)" %></a>
        </li>
      </ul>
    </div>
    <!-- Tabs Mobile -->
    <div class="col-12 d-md-none">
      <h3 class="titulo-card d-flex justify-content-center" style="margin: 30px 0"><%= @results.size.to_s + " resultados en total" %></h3>
      <ul class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist" style="border: none; margin-bottom: 30px">
        <li class="nav-item lupa-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#candidatos" role="tab" aria-controls="Candidatos" aria-selected="true"><%= @candidatos.size.to_s + " candidato(s)" %></a>
        </li>
        <li class="nav-item lupa-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#comunas" role="tab" aria-controls="comunas" aria-selected="false">  <%= @comunas.size.to_s + " comuna(s)" %></a>
        </li>
        <li class="nav-item lupa-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#aportantes" role="tab" aria-controls="aportantes" aria-selected="false"><%= @aportantes.size.to_s + " aportante(s)" %></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="candidatos" role="tabpanel" aria-labelledby="candidatos-tab">
        <div class="row">
          <div class="col-12">
            <% if @candidatos.size > 0 %>
            <table class="table">
              <tbody>
                <% @candidatos.each do |candidato| %>
                  <tr>
                    <td><p class="small-card-text"><%= link_to candidato.nombre, candidato_path(candidato), :class => 'lupa-table-link' %></p></td>
                    <td>
                      <p class="small-card-text"><%= link_to 'Ver más', candidato_path(candidato), :class => 'lupa-table-link' %>
                      <%= image_tag "flecha-vol-derecha.svg", class: "arrow-lupa" %></p>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <% end %>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="comunas" role="tabpanel" aria-labelledby="comunas-tab">
        <div class="row">
          <div class="col-12">
            <% if @comunas.size > 0 %>
            <table class="table">
              <tbody>
                <% @comunas.each do |comuna| %>
                  <tr>
                    <td><p class="small-card-text"><%= link_to comuna.nombre, comuna_path(comuna), :class => 'lupa-table-link' %></p></td>
                    <td>
                      <p class="small-card-text"><%= link_to 'Ver más', comuna_path(comuna), :class => 'lupa-table-link' %>
                      <%= image_tag "flecha-vol-derecha.svg", class: "arrow-lupa" %></p>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <% end %>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="aportantes" role="tabpanel" aria-labelledby="aportantes-tab">
        <div class="row">
          <div class="col-12">
            <% if @aportantes.size > 0 %>
            <table class="table">
              <tbody>
                <% @aportantes.each do |aportante| %>
                  <tr>
                    <td><p class="small-card-text"><%= link_to aportante.nombre, aportante_path(aportante), :class => 'lupa-table-link' %></p></td>
                    <td>
                      <p class="small-card-text"><%= link_to 'Ver más', aportante_path(aportante), :class => 'lupa-table-link' %>
                      <%= image_tag "flecha-vol-derecha.svg", class: "arrow-lupa" %></p>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <% end %>
        </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
